<div id="id-masthead" class="u-block u-block--full">
    <div class="b-masthead">

        <h1>
            <a href="../../">
                {% include 'icons/mark-cushield.svg' %}Raven Design System</a>
            </a>
        </h1>

        <ul class="masthead__actions nav__menu--vert ">
            <li class="masthead__cta has-submenu c-menupopup u-hide-s">

                <button class="u-icon" href="https://github.com/ravendesignsystem" aria-expanded="false" aria-controls="mh-cta"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z"></path></svg>
                    GitHub</button>
                <ul class="is-submenu" id="mh-cta" aria-label="menupopup" aria-expanded="false">
                    <li>
                        <a class="u-icon" href="https://github.com/ravendesignsystem/rds/releases"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M16.286 3.5l-2.572 2.571 6 6-6 6 2.572 2.572L24 12.07 16.286 3.5zm-8.572 0L0 12.071l7.714 8.572 2.572-2.572-6-6 6-6L7.714 3.5z"></path></svg>
                            Releases
                        </a>
                    </li>
                    <li>
                        <a class="u-icon" href="https://github.com/ravendesignsystem/rds"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M16.286 3.5l-2.572 2.571 6 6-6 6 2.572 2.572L24 12.07 16.286 3.5zm-8.572 0L0 12.071l7.714 8.572 2.572-2.572-6-6 6-6L7.714 3.5z"></path></svg>
                            RDS
                        </a>
                    </li>
                    <li>
                        <a class="u-icon" href="https://github.com/ravendesignsystem/design"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M12.09 3C4.5 3 0 12 0 12s4.5 9 12.09 9C19.5 21 24 12 24 12s-4.5-9-11.91-9zM12 18c-3.3 0-6-2.67-6-6 0-3.3 2.7-6 6-6 3.33 0 6 2.7 6 6 0 3.33-2.67 6-6 6zm3-6c0 1.665-1.335 3-3 3a2.99 2.99 0 0 1-3-3c0-1.665 1.335-3 3-3s3 1.335 3 3z"></path></svg>
                            Design
                        </a>
                    </li>
                    <li>
                        <a class="u-icon" href="https://github.com/ravendesignsystem/content"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M0 18.658v5.143h5.143l13.714-13.714-5.143-5.143L0 18.658zm5.143 3.429H1.714v-3.429H3.43v1.715h1.714v1.714zM22.8 6.144l-2.229 2.229L15.43 3.23 17.657 1a1.707 1.707 0 0 1 2.417 0L22.8 3.727a1.707 1.707 0 0 1 0 2.417z"></path></svg>
                            Content
                        </a>
                    </li>
                    <li>
                        <a class="u-icon" href="https://github.com/ravendesignsystem/accessibility"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><g fill="none" fill-rule="evenodd"><path d="M16.87 9.645l-3.435.484a4.734 4.734 0 0 0-.024.07c-.122.365.164 2.794.281 3.731l1.294 3.92a.795.795 0 0 1-.567.965.795.795 0 0 1-.966-.567l-1.31-3.983s-.02-.14-.158-.14c-.131 0-.156.141-.156.141l-1.312 4.005a.796.796 0 0 1-.966.568.795.795 0 0 1-.568-.966l1.351-4.156c.128-1.048.368-3.178.255-3.517a4.734 4.734 0 0 0-.024-.071L7.13 9.645a.795.795 0 0 1-.674-.896.795.795 0 0 1 .895-.674l4.047.571.602.001h.602l4.047-.572a.795.795 0 0 1 .895.674.795.795 0 0 1-.674.896zM12 5.079a1.494 1.494 0 1 1 0 2.989 1.494 1.494 0 0 1 0-2.989zm0-2.38A9.3 9.3 0 1 0 12 21.3a9.3 9.3 0 0 0 0-18.6z" fill="#222"></path><path d="M12 22.787C6.052 22.787 1.213 17.948 1.213 12S6.052 1.213 12 1.213 22.787 6.052 22.787 12 17.948 22.787 12 22.787zM12 .022C5.385.022.022 5.385.022 12c0 6.615 5.363 11.978 11.978 11.978 6.615 0 11.978-5.363 11.978-11.978C23.978 5.385 18.615.022 12 .022z" fill="#373B3E"></path></g></svg>
                            Accessibility
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>
