<div id="id-masthead" class="u-block u-block--full">
    <div class="b-masthead">

        <h1>
            <a href="../../">
                {% include 'icons/mark-cushield.svg' %}Raven Design System</a>
            </a>
        </h1>

        <ul class="masthead__actions">
            <li class="masthead__cta">
                <a class="u-icon" href="https://github.com/ravendesignsystem">
                    CTA Red
                </a>
            </li>
        </ul>

    </div>
</div>
