<div id="id-masthead" class="u-block u-block--full">
    <div class="b-masthead">

        <h1>
            <a href="../../">
                {% include 'icons/mark-cushield.svg' %}<span>Raven Design System<span>Raven Design System</span></span></a>
            </a>
        </h1>

    </div>
</div>
