.b-sidebar {
	background-color: white;
	max-width: 768px;
	border-radius: 5px;
	border: 1px solid $grey;
	display: block;

	> *:not(.b-sidebar > .c-buttoncta) {
		padding-right: 20px;
		padding-left: 20px;
		font-size: $pixel16;
	}

	p {
		margin-top: -5px;
		margin-bottom: 20px;
		font-weight: 400;

		a {
			color: $link;
			border-bottom: 1px solid #c8dae3;

			&:hover {
				border-bottom: 1px solid $red;
				color: $red;
			}
		}
	}
}

a.b-sidebar {
	box-shadow: 0 1px 10px -2px rgba($grey-emperor, 0.1);

	&:hover {
		box-shadow: 0 1px 10px -4px rgba($grey-emperor, 0.7);;
	}

	&:hover .c-buttoncta:not(.c-buttoncta--ghost) {
		background-color: $black;
	}
}

a.b-sidebar {
	&:hover .c-buttoncta--ghost {
		background-color: $red;
		color: white;
	}
}

.sidebar__heading, .sidebar__title {
	background-color: $grey;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	line-height: 1.25;

	+ h3 {
		font-size: $pixel18;
	}
}

.sidebar__title {
	text-transform: none;
}

.sidebar__img {
	object-fit: cover;
	width: 100%;
	margin-bottom: 20px;
	max-height: 232px;

	+ p {
		padding-top: 0;
	}

	~ p {
		font-size: $pixel14;
	}

	@include media('>=l') {
		max-height: 160px;
	}
}

.b-sidebar > .c-buttoncta {
	display: block;
	margin: 20px;
}
