<div class="u-block u-block--white u-block--s">
    <a class="b-sidebarcta" href="http://www.nooooooooooooooo.com">
        <h2 class="sidebarcta__heading">This is the heading</h2>
        <img class="sidebarcta__img" src="https://images.unsplash.com/photo-1555915922-a4306777a824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" />
        <div class="c-buttoncta"> Join the darkside</div>
    </a>
</div>

<div class="u-block u-block--white u-block--s">
    <a class="b-sidebarcta" href="http://www.nooooooooooooooo.com">
        <h2 class="sidebarcta__heading"><span class="u-icon">{% include
                    'icons/light-bulb.svg' ignore missing %} Ideas@Carleton</span></h2>
        <img class="sidebarcta__img" src="https://via.placeholder.com/640x480" alt="" />
        <h3 class="sidebarcta__title">This is the title</h3>
        <p><strong>Note:</strong> 640x480 is the preferred img size. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pharetra sem, nec pellentesque metus. Fusce posuere ultrices ante vitae pharetra.</p>
        <div class="c-buttoncta"> Join the darkside</div>
    </a>
</div>

<div class="u-block u-block--white u-block--s">
    <a class="b-sidebarcta" href="http://www.nooooooooooooooo.com">
        <h2 class="sidebarcta__heading sidebarcta__heading--title"><span class="u-icon">{% include
                'icons/light-bulb.svg' ignore missing %}This is the title</span></h2>
        <img class="sidebarcta__img" src="https://via.placeholder.com/640x480" alt="" />
        <p><strong>Note</strong>: text, when following an image is smaller. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pharetra sem, nec pellentesque metus. Fusce posuere ultrices ante vitae pharetra.</p>
        <p><strong>Note</strong>: these should really be restricted to one paragraph but multiple does style okay. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="c-buttoncta c-buttoncta--ghost"> Join the darkside</div>
    </a>
</div>

<div class="u-block u-block--white u-block--s">
    <div class="b-sidebarcta">
        <h2 class="sidebarcta__heading sidebarcta__heading--title">Without default link wrapper</h2>
        <p>Lorem ipsum <a href="http://www.nooooooooooooooo.com">dolor sit amet</a>, consectetur adipiscing elit. Nam ut pharetra sem, nec pellentesque metus. Fusce posuere ultrices ante vitae pharetra.</p>
        <a class="c-buttoncta " href="http://www.nooooooooooooooo.com"> Join the darkside</a>
    </div>
</div>

<div class="u-block u-block--white u-block--s">
    <a class="b-sidebarcta" href="http://www.nooooooooooooooo.com">
        <h2 class="sidebarcta__heading">This is the heading</h2>
        <h3>This is the title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pharetra sem, nec pellentesque metus. Fusce posuere ultrices ante vitae pharetra.</p>
        <div class="c-buttoncta"> Join the darkside</div>
    </a>
</div>

