<section class="u-block u-block--white u-block--panel">
    <header>
        <h2 class="c-heading u-no-border">My Apps</h2>
    </header>
    <div class="b-listing">
        <ul itemscope itemtype="http://schema.org/ItemList">
            <li itemprop="item">
                <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                    <header itemprop="name">
                        <h3>White-necked Raven</h3>
                    </header>
                </a>
            </li>
            <li itemprop="item">
                <a href="https://en.wikipedia.org/wiki/Common_raven" itemprop="url">
                    <header itemprop="name">
                        <h3>Common raven</h3>
                    </header>
                </a>
            </li>
            <li itemprop="item">
                <a href="https://en.wikipedia.org/wiki/Australian_raven" itemprop="url">
                    <header itemprop="name">
                        <h3>Australian raven</h3>
                    </header>
                </a>
            </li>
            <li itemprop="item">
                <a href="https://en.wikipedia.org/wiki/Thick-billed_raven" itemprop="url">
                    <header itemprop="name">
                        <h3>Thick-billed raven</h3>
                    </header>
                </a>
            </li>
        </ul>
    </div>
</section>
