<section class="u-block u-block--white u-block--panel">
    <header>
        <h2>Contacts</h2>
    </header>
    <form class="c-searchform c-searchform--s u-margin-top-s" role="search" method="get" action="https://carleton.ca">
        <label for="searchform__input">Search</label>
        <input id="searchform__input" name="s" type="search" autocomplete="off" placeholder="Search">
        <button type="submit" title="Search">
            <svg viewbox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M23.52 21.28l-6.096-6.128A9.488 9.488 0 0 0 19.2 9.6c0-5.296-4.304-9.6-9.6-9.6C4.304 0 0 4.304 0 9.6c0 5.296 4.304 9.6 9.6 9.6 2.08 0 3.968-.656 5.552-1.776l6.128 6.096c.304.32.72.48 1.12.48.4 0 .832-.144 1.12-.48a1.594 1.594 0 0 0 0-2.256v.016zM9.6 17.12c-4.144 0-7.52-3.376-7.52-7.52S5.456 2.08 9.6 2.08s7.52 3.376 7.52 7.52-3.376 7.52-7.52 7.52z"  /></svg>
            <span class="u-visually-hidden">Search button</span>
        </button>
    </form>
    <div class="b-listing b-listing--people">
        <ul itemscope itemtype="http://schema.org/Person">
            <li itemprop="item">
                <a href="http://www.imdb.com/name/nm0000195/" itemprop="url">
                    <figure>
                        <img src="https://cu-raven.s3.amazonaws.com/assets/img/photos/fill-murray.jpg" alt="" itemprop="image">
                    </figure>
                    <div>
                        <h3 itemprop="name">Bill Murray</h3>
                        <p itemprop="description">Actor/Writer</p>
                    </div>
                </a>
            </li>
            <li itemprop="item">
                <a href="http://www.imdb.com/name/nm0000195/" itemprop="url">
                    <figure>
                        <img src="https://cu-raven.s3.amazonaws.com/assets/img/photos/fill-murray.jpg" alt="" itemprop="image">
                    </figure>
                    <div>
                        <h3 itemprop="name">Peter Venkman</h3>
                        <p itemprop="description">Ghost buster</p>
                    </div>
                </a>
            </li>
            <li itemprop="item">
                <a href="http://www.imdb.com/name/nm0000195/" itemprop="url">
                    <figure>
                        <img src="https://cu-raven.s3.amazonaws.com/assets/img/photos/fill-murray.jpg" alt="" itemprop="image">
                    </figure>
                    <div>
                        <h3 itemprop="name">Carl Spackler</h3>
                        <p itemprop="description">Caddy for Shack</p>
                    </div>
                </a>
            </li>
            <li itemprop="item">
                <a href="http://www.imdb.com/name/nm0000195/" itemprop="url">
                    <figure>
                        <img src="https://cu-raven.s3.amazonaws.com/assets/img/photos/fill-murray.jpg" alt="" itemprop="image">
                    </figure>
                    <div>
                        <h3 itemprop="name">Phil Connors</h3>
                        <p itemprop="description">Groundhog for a Day</p>
                    </div>
                </a>
            </li>
            <li itemprop="item">
                <a href="http://www.imdb.com/name/nm0000195/" itemprop="url">
                    <figure>
                        <img src="https://cu-raven.s3.amazonaws.com/assets/img/photos/fill-murray.jpg" alt="" itemprop="image">
                    </figure>
                    <div>
                        <h3 itemprop="name">Bill Murray</h3>
                        <p itemprop="description">Actor/Writer</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <footer>
        <a class="c-buttoncta c-buttoncta--grey " href="http://www.nooooooooooooooo.com">Edit Contacts</a>
    </footer>
</section>
