@include media('>=s') {
	.b-docs-textimg {
		padding: 50px 0;

		& .b-textimg__heading {
			font-size: $type48;
			padding-bottom: 0;
		}

		& .b-textimg__img {
			max-height: 290px;
			animation-name: fadeInAnimation;
			animation-duration: 1000ms;
			animation-fill-mode: forwards;
			transition: background-color 10000ms linear;
		}

		& .b-textimg__desc p {
			font-size: $type30;
			color: $grey-luke;
			line-height: 1.35;
		}

		& a {
			color: white;

			&:hover {
				color: $red;
			}
		}
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
