{% from "textimg/textimg.twig" import textimg %}
{{ textimg (
    {
        blockColor: "grey",
        blockSize: "s",
        blockHeading: "Supports default block headings",
        blockSubheading: "In addition, it supports subheadings.",
        blockHeadingCenter: false,
        heading: "Heading requirements",
        text: "<p>At least one heading is required when using the Text-Image block, <b>Note</b>: in this example, how porper heading usage is used with the second heading now uses and H3. Make sure to follow proper heading rank rules in all of your blocks.</p>",
        img: "https://via.placeholder.com/640x480",
        imgAlt: "",
        variant: "imgtext"
    }
) }}
