{% from "textimg/textimg.twig" import textimg %}
{{ textimg (
    {
        blockSize: "l",
        content: "<p>It is important to note the text is not intended to wrap around the image. In general, the amount of text used should be the same height as the image on large screens. This will, of course, differ if you use a large or small block size.</p>
<p>Important do not mix and match large and small blocks on one page. Please keep them uniform.</p>",
        heading: "Supports the large width block setting",
        img: "https://via.placeholder.com/640x480",
        imgAlt: ""
    }
) }}
