{% if docs %}
    <div class="u-block u-block--white u-block--s">
        <div class="b-content">
            <h2>Variant: Image-Text</h2>
            <p>To display the image first, swap the column order by adding the block modifier <code>b-textimg--imgtext</code>.</p>
        </div>
    </div>
{% endif %}
{% from "textimg/textimg.twig" import textimg %}
{{ textimg (
    {
        color: "grey",
        variant: "imgtext"
    },
    {
        title: "Raven Design System",
        img: {
                alt: "Provide good alt text.",
                url: "https://via.placeholder.com/640x480"
        },
        content: "<p>RDS, Carleton University’s design system, is a living digital organism uniting campus wide teams around a common visual language. more…</p>
                    <p>RDS, Carleton University’s design system, is a living digital organism uniting campus wide teams around a common visual language. more…</p>
                    <p>RDS, Carleton University’s design system, is a living digital organism uniting campus wide teams around a common visual language. more…</p>"
    }
) }}
