{% from "textimg/textimg.twig" import textimg %}
{{ textimg (
    {
        blockSize: "s",
        text: "<p>The <code>b-textimg--imgtext</code> modifier is used to move the image to the left.  This modifier looks a bit odd at first. But, if the default is text on the left, image on the right - textimg. Then the reverse is -imgtex...image first, then text.</p>",
        heading: "Image to the Left",
        img: "https://via.placeholder.com/640x480",
        imgAlt: "",
        variant: "imgtext"
    }
) }}
