{% from "textimg/textimg.twig" import textimg %}
{{ textimg (
    {
        blockColor: "grey",
        blockSize: "s",
        heading: "Supports grey background row",
        img: "https://via.placeholder.com/640x480",
        imgAlt: "",
        text: "<p>It is important to note the text is not intended to wrap around the image. In general, the amount of text used should be the same height as the image on large screens. This will, of course, differ if you use a large or small block size.</p>"
    }
) }}
