<div class="u-block u-block--black u-block--waves u-block--border-top">
    <div class="b-footerbrand">
        <a href="https://carleton.ca">
            {% include "logos/cu-logo-dark-stack.svg" %}
            <span class="u-visually-hidden">Carleton University logo, links to homepage</span>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="https://carleton.ca/privacy/policies/">Privacy</a>
                </li>
                <li>
                    <a href="https://carleton.ca/accessibility/">Accessibility</a>
                </li>
                <li>
                    <a href="https://library.carleton.ca/content/copyright-carleton">©&nbsp;Copyright</a>
                </li>
                <li>
                    <a class="u-v" href="https://ravendesignsystem.github.io/rds/">RDSv</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
