{% if docs %}
    <div class="u-block u-block--white u-block--s">
        <div class="b-content">
            <h2 id="img-dark">Img Banner with Breadcrumbs and CTA</h2>
        </div>
    </div>
{% endif %}
{% from "banner/banner.twig" import banner %}
{{ banner (
    {
    },
    {
        breadcrumbs: {
        grandparent: "Blocks",
        parent: "Banners"
        },
        button:
        [
            {
                title: "Learn about Calls to Action",
                url: "https://writtent.com/blog/15-call-action-samples-rocking-blog-posts-convert/"
            }
        ],
        img: {
            imgUrl: "https://cu-raven.s3.amazonaws.com/assets/img/photos/nevermore.jpg"
        },
        title: "Img Banner with Breadcrumbs and CTA"
    }
) }}
