{% macro grid(settings, data) %}
<div class="u-block{% if settings.width|length %} u-block--{{ settings.width }}{% endif %}">
    <div class="b-listing-grid">
        <ul class="u-grid{% if settings.columns|length %} u-grid--{{ settings.columns }}{% endif %}">
    {% for item in data %}
            <li>
    {% include item.inc %}
            </li>
    {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}
