<div class="u-block u-block--full">
   <section class="b-menu">
      <h2>Site Navigation</h2>
      {% from "menu/menu.twig" import menuMacro %}
      {{ menuMacro (
         [
            {
            title: "Future Undergraduate Students",
            url: "https://admissions.carleton.ca"
            },
            {
               title: "Future Graduate Students",
               url: "https://graduate.carleton.ca"
            },
            {
               title: "Current Students",
               url: "https://students.carleton.ca"
            },
            {
               title: "Faculty and Staff Intranet",
               url: "https://i.carleton.ca"
            },
            {
               title: "Alumni",
               url: "https://alumni.carleton.ca"
            },
            {
               title: "Donors",
               url: "https://futurefunder.carleton.ca"
            },
            {
               title: "About Carleton",
               url: "https://carleton.ca/about/",
               submenu: [
               {
                  title: "About Carleton University",
                  url: "https://carleton.ca/about/"
               },
               {
                  title: "Our Campus",
                  url: "https://carleton.ca/about/campus/"
               },
               {
                  title: "Capital Advantage",
                  url: "https://carleton.ca/about/capital-advantage/"
               },
               {
                  title: "Our History",
                  url: "https://carleton.ca/about/history/"
               },
               {
                  title: "University Facts",
                  url: "https://carleton.ca/about/facts/"
               },
               {
                  title: "Public Accountability",
                  url: "https://carleton.ca/about/public-accoutability/"
               },
               {
                  title: "Our Executive",
                  url: "https://carleton.ca/about/university-executive/"
               }
            ]
            },
            {
               title: "Admissions",
               url: "https://admissions.carleton.ca",
               submenu: [
               {
                  title: "Undergraduate Admissions",
                  url: "https://admissions.carleton.ca",
               },
               {
                  title: "Undergraduate Programs",
                  url: "https://admissions.carleton.ca/programs/"
               },
               {
                  title: "Graduate Admissions",
                  url: "https://graduate.carleton.ca",
               },
               {
                  title: "Graduate Programs",
                  url: "https://graduate.carleton.ca/programs/"
               }
            ]
            },
            {
               title: "Academics",
               url: "https://carleton.ca/academics/"
            },
            {
               title: "Research",
               url: "https://research.carleton.ca"
            },
            {
               title: "Priorities",
               url: "https://carleton.ca/about/strategic-plan/",
               submenu: [
               {
                  title: "Accessibility",
                  url: "https://carleton.ca/accessibility/",
               },
               {
                  title: "Community Engagement",
                  url: "https://carleton.ca/communityengagement/"
               },
               {
                  title: "Experiential Learning",
                  url: "https://carleton.ca/experientialeducation/",
               },
               {
                  title: "International",
                  url: "https://carleton.ca/ci/"
               },
               {
                  title: "Sustainability",
                  url: "https://carleton.ca/hr/cu-life/campus-sustainability/"
               }
            ]
            }
         ]
      )}}
   </section>
</div>
