<div class="u-block u-block--grey u-no-padding">
    <a href="#" class="b-bannerhero">
        <img src="https://res.cloudinary.com/cuweb/image/upload/f_auto/v1554305685/cu-homepage/mountain.webp" alt="Read more about need good alt text"/>
        <div class="bannerhero_text">
            {#<div class="bannerhero_text bannerhero_text--right">#}
            <h2 class="bannerhero__title" data-text="View story"><span>Welcome to Carleton's New Homepage</span></h2>
        </div>
    </a>
</div>
