<div class="u-block u-block--grey u-no-padding" id="content">
    <a href="https://newsroom.carleton.ca/story/new-home-page-details/" class="b-bannerhero">
        <picture>
            <source type="image/webp" srcset="https://cu-rds.s3.amazonaws.com/hp/assets/img/banner.webp">
            <img src="https://cu-rds.s3.amazonaws.com/hp/assets/img/banner.jpg" alt="Inspirational image of climber on mountain">
        </picture>
        <div class="bannerhero_text">
            {#<div class="bannerhero_text bannerhero_text--right">#}
            <h2 class="bannerhero__title" data-text="View story"><span>Welcome to Carleton's New Home Page</span></h2>
        </div>
    </a>
</div>
