<div class="u-block u-block--black u-block--border-top u-center u-center--center">
    <div class="b-footerbrand">
            <a class="footerbrand__logo" href="https://carleton.ca">{% include "logos/cu-logo-dark.svg" %}<span class="u-visually-hidden">Carleton University logo, links to homepage</span></a>
            <nav>
                <ul class="footerbrand__legal">
                    <li>
                        <a href="https://carleton.ca/privacy/policies/">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="https://carleton.ca/accessibility/">Accessibility</a>
                    </li>
                    <li>
                        <a href="https://library.carleton.ca/content/copyright-carleton">© Copyright {{ "now"|date("Y") }}</a>
                    </li>
                </ul>
            </nav>
    </div>
</div>
