<div class="u-block u-block--full">
   <section class="b-menu">
      <h2>Site Navigation</h2>
      {% from "menu/menu.twig" import menuMacro %}
      {{ menuMacro (
         [
            {
               title: "Level 1-1",
               url: "#",
               submenu: [
               {
                  title: "Level 2-1",
                  url: "#",
                  submenu: [
                  {
                     title: "Third Level, testing this one with an extremely long title that user might create",
                     url: "#"
                  }
               ]
               },
               {
                  title: "Second Level",
                  url: "#"
               },
               {
                  title: "Second Level",
                  url: "#",
                  submenu: [
                  {
                     title: "Third Level",
                     url: "#"
                  }
               ]
               },
            ]
            },
            {
               title: "First Level",
               url: "#",
               submenu: [
               {
                  title: "Second Level",
                  url: "#",
                  submenu: [
                  {
                     title: "Third Level",
                     url: "#"
                  }
               ]
               },
               {
                  title: "Second Level",
                  url: "#"
               },
               {
                  title: "Second Level",
                  url: "#",
                  submenu: [
                  {
                     title: "Third Level",
                     url: "#"
                  }
               ]
               },
            ]
            },
            {
               title: "First Level",
               url: "#"
            }
         ]
      )}}
   </section>
</div>
