{% macro search(settings, data) %}
    <form class="c-form-search" role="search" method="get" action="{{ data.action }}">
        <label for="search__input">{{ data.label }}</label>
        <input class="search__input" id="search__input" name="s" type="search" autocomplete="off" placeholder="{{ data.placeholder }}">
        <button class="search__button u-icon u-icon--s" type="submit" title="Submit">
            {% include "icons/search.svg" %}
            <span>Search button</span>
        </button>
    </form>
{% endmacro %}
