{% macro search(settings, data) %}
    <form class="c-searchform" role="search" method="get" action="{{ data.action }}">
        <label for="searchform__input">{{ data.label }}</label>
        <input class="searchform__input" id="searchform__input" name="s" type="search" autocomplete="off" placeholder="{{ data.placeholder }}">
        <button class="searchform__button u-icon u-icon--s" type="submit" title="Submit">
            {% include "icons/search.svg" %}
            <span>Search button</span>
        </button>
    </form>
{% endmacro %}
