{% from 'accordion/accordion' import accordion %}
{{ accordion (
    {
        variant: "single"
    },
    [
        {
            title: "White-necked Raven",
            content: "<p>The <strong>white-necked raven</strong> has a much shorter tail than the common raven, as well as a deeper bill with a white tip that is almost as strongly arched as that of the thick-billed raven.</p>",
        },
        {
            title: "Common raven",
            content: "<p>The <strong>common raven</strong> (Corvus corax), also known as the northern raven, is a large all-black passerine bird. Found across the Northern Hemisphere, it is the most widely distributed of all corvids.</p>"
        },
        {
            title: "Australian raven",
            content: "<p>The <strong>Australian raven</strong> (Corvus coronoides) is a passerine bird in the genus Corvus native to much of southern and northeastern Australia. Measuring 46–53 centimetres (18–21 in) in length, it has all-black plumage, beak and mouth, as well as strong grey-black legs and feet.</p>"
        },
        {
            title: "Thick-billed raven",
            content: "<p>The <strong>thick-billed raven</strong> (Corvus crassirostris), a corvid from the Horn of Africa, shares with the common raven the distinction of being the largest bird in the corvid family, and indeed the largest of the most diverse bird order with well over 5,000 identified species, the passerines. </p>"
        }
    ]
) }}
