<form class="c-searchform" role="search" method="get" action="https://carleton.ca">
    <label for="searchform__input">Search</label>
    <input class="searchform__input" name="s" type="search" autocomplete="off" placeholder="Search">
    <button type="submit" title="Search">
        {% include "icons/search.svg" %}
        <span class="u-visually-hidden">Search button</span>
    </button>
</form>
