// Icon utils
// see /src/_themes/core/scss/base/utilities/_utilities.scss
// -------------

// TODO: IE Fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.c-buttonsocial.u-icon,
	.c-card--video .u-icon,
	.c-card--iconlink .u-icon {
		align-items: flex-start !important;
	}
}

// Hero Banner
// see /src/_themes/hp/blocks/bannerhero/_bannerhero.scss
// -------------

// TODO: IE Fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.b-bannerhero img {
		max-height: initial !important;
		height: initial !important;
	}
}
