/*
 * Base Banner Styles
 * =======================================
 */

// pull grey rows up when directly after banner
.has-banner + main > .u-block-row-grey:first-of-type {
	padding-top: 0;
}

.b-header-banner {
	display: flex;
	justify-content: center;
	padding: 20px;
	text-align: center;

	@include media(">s") {
		padding: 40px;
	}
}

.b-header-banner .banner__buttons {
	margin-bottom: 0;
}

/*
 * Base Banner Content Styles
 * =======================================
 */

.banner__title {
	margin: 0;
	padding: 0;
	font-size: 26px;

	@include media(">s") {
		max-width: 768px;
		font-size: 42px;
		line-height: 1.2;
	}
}

.banner__breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

// need for Yoast plugin UGH
// TODO maybe do custom BC in WP sometime and get rid of this
.breadcrumb_last {
	display: none;
}

.banner__breadcrumb-item + .banner__breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	content: "/";
	font-weight: 300;
}

.banner__breadcrumb-item {
	font-size: 14px;

	a {
		font-weight: 300;

		&:hover {
			color: $red;
		}
	}
}

.banner__breadcrumb-item.active {
	font-weight: 300;
}

.banner__buttons {
	margin-top: 10px;
}

.banner__buttons .c-buttons-button {
	margin-top: 10px;
}

/*
 * Banner Image Modifier
 * =======================================
 */
// TODO can we get rid of that commented out line
.b-header-banner--img {
	position: relative;
	background-size: cover;
	background-position: center center;
	padding: 40px;

	&:after {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		content: "";
		background-color: rgba(0,0,0,.6);
	}

	@include media(">s") {
		padding-top: 150px;
		padding-bottom: 150px;
	}
}

.b-header-banner--img .banner__container {
	z-index: 1;
	width: 100%;
	max-width: 1426px;
	margin-left: auto;
	margin-right: auto;

	@include media(">s") {
		padding-left: 30px;
		padding-right: 30px;
	}

	// Restrict content inside to a set width
	& > *:not(nav) {
		max-width: 768px;
		margin-left: auto;
		margin-right: auto;
	}
}

.b-header-banner--img .banner__breadcrumbs {
	padding-bottom: 10px;
	margin: 0;
}

.b-header-banner--img .banner__container--left {
	text-align: left;

	.banner__breadcrumbs {
		justify-content: flex-start;
	}

	& > *:not(nav) {
		margin-left: 0;
	}
}

.b-header-banner--img .banner__container--right {
	text-align: right;

	.banner__breadcrumbs {
		justify-content: flex-end;
	}

	& > *:not(nav) {
		margin-right: 0;
	}
}

.b-header-banner--img .banner__title,
.b-header-banner--img .banner__breadcrumbs,
.b-header-banner--img .banner__breadcrumb-item a {
	color: white;
}

.b-header-banner--img .banner__breadcrumb-item a:hover {
	color: $red;
}

/*
 * Banner Image Position Modifier
 * =======================================
 */

.b-header-banner--img-top {
	background-position: center top;
}

.b-header-banner--img-bottom {
	background-position: center bottom;
}

/*
 * Banner Image Opacity Modifier
 * =======================================
 */

.b-header-banner--img-faint:after {
	background-color: rgba(0, 0, 0, 0.20);
}

.b-header-banner--img-light:after {
	background-color: rgba(0, 0, 0, 0.35);
}

.b-header-banner--img-dark:after {
	background-color: rgba(0, 0, 0, 0.75);
}

// Main Carousel Styles
//-------------------------

.b-header-banner--carousel {
	height: 300px;
	padding-top: $block-padding-s;
	padding-bottom: $block-padding-s;

	@include media(">s") {
		height: 500px;
		padding-top: $block-padding-m;
		padding-bottom: $block-padding-m;
	}

	.banner__container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

// Main Wrapper Position
//-------------------------

.tns-outer {
	position: relative;

	& + .u-block-full--grey {
		margin-top: -$block-margin;
	}
}

// Arrow Navigation
// Only used above small
//-------------------------

.tns-controls {
	display: none;

	&:focus {
		outline: none;
	}

	@include media(">=s") {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 0 15px;

		button {
			z-index: 2; // used 2 because it sits on top of banner_container, which has a value of 1 already
			width: 45px;
			height: 45px;
			border: none;
			border-radius: 100%;
			background-color: rgba(white, 0.7);

			&:focus {
				outline: none;
			}
		}

		button:after {
			content: "";
			display: inline-block;
			margin-top: 2px;
			width: 18px;
			height: 18px;
			border-top: 4px solid $black;
			border-right: 4px solid $black;
		}

		button:first-child:after {
			transform: rotate(-135deg);
			margin-left: 5px;
		}

		button:last-child:after {
			transform: rotate(45deg);
			margin-right: 5px;
		}
	}
}

// Dotted Navigation
// Only used below small
//-------------------------

.tns-nav {
	display: none;
}

@include media("<s") {
	.tns-nav {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 50px;
		z-index: 2; // used 2 because it sits on top of banner_container, which has a value of 1 already
		display: block;
		max-width: 110px;
		margin: 0 auto;
		text-align: center;
	}

	.tns-nav button {
		width: 10px;
		height: 10px;
		padding: 0;
		margin: 0 5px;
		border-radius: 50%;
		border: 1px solid white;

		&.tns-nav-active {
			background-color: $red;
			border: 1px solid $red;
		}
	}
}
