{% if docs %}
    <div class="u-block u-block--white u-block--s">
        <div class="b-content">
            <h2>Hero image darkened and aligned to the bottom</h2>
        </div>
    </div>
{% endif %}
{% from "blocks/banner/banner.twig" import banner %}
{{ banner (
    {
    },
    {
        img: {
            img_url: "https://cu-raven.s3.amazonaws.com/assets/img/photos/nevermore.jpg",
            img_url_s: "https://cu-raven.s3.amazonaws.com/assets/img/photos/nevermore-s.jpg",
            img_opacity: "dark",
            img_position: "bottom"
        },
        title: "Hero image darkened and aligned to the bottom"
    }
) }}
