<div class="u-block u-block--full">
    <div class="b-masthead b-masthead--cu js-sticky-scroll">
        <div>
            <nav aria-label="Site title">
                <h1 class="masthead__site">
                    <a href="https://carleton.ca">{% include 'logos/cu-logo-light.svg' %}<span class="u-visually-hidden">Carleton University - Canada's Capital University</span></a>
                </h1>
            </nav>
            <nav class="masthead__primarynav">
                <ul>
                    <li><button class="c-menupopup" aria-label="Open Menu">About</button>
                        <ul class="menupopup__menu" aria-label="menupopup">
                            <li><a href="https://carleton.ca/about/">About Carleton</a></li>
                            <li><a href="https://carleton.ca/campus/">Our Campus</a></li>
                            <li><a href="https://carleton.ca/prospective/capital-advantage/">Capital Advantage</a></li>
                            <li><a href="https://carleton.ca/about/history/">Our History</a></li>
                            <li><a href="https://carleton.ca/about/facts/">University Facts</a></li>
                            <li><a href="https://carleton.ca/about/public-accountability/">Public Accountability</a></li>
                            <li><a href="https://carleton.ca/about/university-executive/">University Executive</a></li>
                        </ul>
                    </li>
                    <li><button class="c-menupopup" aria-label="Open Menu">Admissions</button>
                        <ul class="menupopup__menu" aria-label="menupopup">
                            <li><a href="https://admissions.carleton.ca">Undergraduate Admissions</a></li>
                            <li class="menupopup__sep"><a href="https://admissions.carleton.ca/programs/">Undergraduate Programs</a></li>
{#                            <li class="menupopup__title"></li>#}
                            <li><a href="https://graduate.carleton.ca">Graduate Admissions</a></li>
                            <li><a href="https://graduate.carleton.ca/programs">Graduate Programs</a></li>
                        </ul>
                    </li>
                    <li><a href="https://carleton.ca/academics/">Academics</a></li>
                    <li><a href="https://research.carleton.ca/">Research</a></li>
                    <li><button class="c-menupopup" aria-label="Open Menu">Priorities</button>
                        <ul class="menupopup__menu" aria-label="menupopup">
                            <li><a href="https://carleton.ca/accessibility/">Accessibility</a></li>
                            <li><a href="https://carleton.ca/communityengagement/">Community Engagement</a></li>
                            <li><a href="https://carleton.ca/experientialeducation/">Experiential Learning</a></li>
                            <li><a href="https://carleton.ca/indigenous/">Indigenous Affairs</a></li>
                            <li><a href="https://carleton.ca/ci/">International</a></li>
                            <li><a href="https://carleton.ca/hr/cu-life/campus-sustainability/">Sustainability</a></li>
                        </ul>
                    </li>
                    <li class="masthead__sep"><button class="c-menupopup" aria-label="Open Menu">Future Students</button>
                        <ul class="menupopup__menu" aria-label="menupopup">
                            <li><a href="https://admissions.carleton.ca">Undergraduate Students</a></li>
                            <li><a href="https://graduate.carleton.ca">Graduate Students</a></li>
                            <li><a href="https://carleton.ca/continuing-professional/">Continuing Studies and <br>Professional Development</a></li>
                        </ul>
                    </li>
                    <li><button class="c-menupopup" aria-label="Open Menu">Current Students</button>
                        <ul class="menupopup__menu" aria-label="menupopup">
                            <li><a href="https://students.carleton.ca">Undergraduate Students</a></li>
                            <li><a href="https://gradstudents.carleton.ca">Graduate Students</a></li>
                        </ul>
                    </li>
                    <li><button class="c-menupopup" aria-label="Open Menu">Faculty/Staff</button>
                        <ul class="menupopup__menu" aria-label="menupopup">
                            <li><a href="https://i.carleton.ca/">Intranet Dashboard</a></li>
                            <li class="menupopup__sep"><a href="https://i.carleton.ca/hr/">HR - Current Faculty/Staff</a></li>
                            <li><a href="https://carleton.ca/hr/">Human Resources</a></li>
                            <li><a href="https://carleton.ca/hr/">Jobs at Carleton</a></li>
                            <li><a href="https://carleton.ca/hr/employment-opportunities/staff-opportunities/">Staff Opportunities</a></li>
                            <li><a href="https://carleton.ca/hr/employment-opportunities/faculty-opportunities/">Academic Opportunities</a></li>
                        </ul>
                    <li><a href="https://alumni.carleton.ca/">Alumni</a></li>
                    <li><a href="https://futurefunder.carleton.ca/">Donors</a></li>
                </ul>
            </nav>
        </div>
        <nav class="masthead__controls" aria-label="Secondary navigation and controls">
            <ul>
                {#masthead__cta#}
                <li class="masthead__jump c-menupopup c-menupopup--right"><a class="c-menupopup u-icon">{% include 'icons/link-external.svg' %} <span>Jump To</span></a>
                    <ul class="menupopup__menu" aria-label="menupopup" aria-expanded="false">
                        <li><a href="https://students.carleton.ca">{% include 'icons/home.svg' %}Current Students Home</a></li>
                        <li><a class="u-icon" href="https://central.carleton.ca">{% include 'icons/diamond.svg' %} Carleton Central</a></li>
                        <li><a href="https://carleton.ca/culearn/">{% include 'icons/e-learning.svg' %} cuLearn</a></li>
                        <li><a href="https://library.carleton.ca">{% include 'icons/book.svg' %} Library</a></li>
                        <li><a href="https://360.carleton.ca">{% include 'icons/mark-360.svg' %} Carleton360</a></li>
                        <li><a href="https://carleton.ca/campus/map/">{% include 'icons/location.svg' %} Campus Map</a></li>
                    </ul>
                </li>
                <li class="masthead__search">
{#                    onclick="loadScript('https://cu-rds.s3.amazonaws.com/hp/js/hm-search.js');" value="Proceed"#}
                    <button  aria-label="Open Search" class="masthead__search-btn u-icon">
                        {% include "icons/search.svg" %} <span class="u-hide-s">Search</span>
                    </button>
                </li>
                <li class="masthead__hamburger">
                    <button aria-label="Open Menu" class="c-hamburger c-hamburger--spin" type="button">
					<span class="c-hamburger__box">
						<span class="c-hamburger__inner"></span>
					 </span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
