<div class="u-block u-block--full">
    <div class="b-masthead b-masthead--cu js-masthead-stick">
        <div class="masthead__brand">
            <h1 class="masthead__site">
                <a href="https://carleton.ca">{% include 'logos/cu-logo-light.svg' %}<span class="u-visually-hidden">Carleton University - Canada's Capital University</span></a>
            </h1>
        </div>
        <nav class="masthead__nav">
            <ul role="menu">
                <li><button class="c-menupopup" aria-label="Open Menu">About</button>
                    <ul class="menupopup__menu" aria-label="menupopup">
                        <li><a href="https://carleton.ca/about/">About Carleton</a></li>
                        <li><a href="https://carleton.ca/campus/">Our Campus</a></li>
                        <li><a href="https://carleton.ca/about/capital-advantage/">Capital Advantage</a></li>
                        <li><a href="https://carleton.ca/about/history/">Our History</a></li>
                        <li><a href="https://carleton.ca/about/facts/">University Facts</a></li>
                        <li><a href="https://carleton.ca/about/public-accountability/">Public Accountability</a></li>
                        <li><a href="https://carleton.ca/about/university-executive/">University Executive</a></li>
                    </ul>
                </li>
                <li><button class="c-menupopup" aria-label="Open Menu">Admissions</button>
                    <ul class="menupopup__menu" aria-label="menupopup">
                        <li><a href="https://admissions.carleton.ca">Undergraduate Admissions</a></li>
                        <li class="menupopup__sep"><a href="https://admissions.carleton.ca/programs/">Undergraduate Programs</a></li>
                        <li><a href="https://graduate.carleton.ca">Graduate Admissions</a></li>
                        <li><a href="https://graduate.carleton.ca/programs">Graduate Programs</a></li>
                    </ul>
                </li>
                <li><a href="https://carleton.ca/academics/">Academics</a></li>
                <li><a href="https://research.carleton.ca/">Research</a></li>
                <li><button class="c-menupopup" aria-label="Open Menu">Priorities</button>
                    <ul class="menupopup__menu" aria-label="menupopup">
                        <li><a href="https://carleton.ca/accessibility/">Accessibility</a></li>
                        <li><a href="https://carleton.ca/communityengagement/">Community Engagement</a></li>
                        <li><a href="https://carleton.ca/experientialeducation/">Experiential Learning</a></li>
                        <li><a href="https://carleton.ca/indigenous/">Indigenous Affairs</a></li>
                        <li><a href="https://carleton.ca/ci/">International</a></li>
                        <li><a href="https://carleton.ca/hr/cu-life/campus-sustainability/">Sustainability</a></li>
                    </ul>
                </li>
                <li class="masthead__sep"><button class="c-menupopup" aria-label="Open Menu">Future students</button>
                    <ul class="menupopup__menu" aria-label="menupopup">
                        <li><a href="#">Undergraduate Students</a></li>
                        <li><a href="#">Graduate Students</a></li>
                        <li><a href="#">Continuing Studies and <br>Professional Development</a></li>
                    </ul>
                </li>
                <li><button class="c-menupopup" aria-label="Open Menu">Current students</button>
                    <ul class="menupopup__menu" aria-label="menupopup">
                        <li><a href="#">Undergraduate Students</a></li>
                        <li><a href="#">Graduate Students</a></li>
                    </ul>
                </li>
                <li><button class="c-menupopup" aria-label="Open Menu">Faculty/Staff</button>
                    <ul class="menupopup__menu" aria-label="menupopup">
                        <li><a href="https://i.carleton.ca/">Intranet dashboard</a></li>
                        <li><a href="https://i.carleton.ca/hr/">Current Faculty/Staff</a></li>
                        <li class="menupopup__sep"><a href="https://carleton.ca/hr/">Human Resources</a></li>
                        <li><a href="https://carleton.ca/hr/">Jobs at Carleton</a></li>
                        <li><a href="https://carleton.ca/hr/employment-opportunities/staff-opportunities/">Staff Opportunities</a></li>
                        <li><a href="https://carleton.ca/hr/employment-opportunities/faculty-opportunities/">Academic Opportunities</a></li>
                    </ul>
                <li><a href="https://alumni.carleton.ca/">Alumni</a></li>
                <li><a href="https://futurefunder.carleton.ca/">Donors</a></li>
            </ul>
        </nav>
        <div class="masthead__actions" aria-label="Navbar actions and controls">
            <ul>
                <li class="masthead__cta masthead__cta--white c-menupopup c-menupopup--right">
                    <a class="u-icon" href="#">{% include 'icons/link-external.svg' %} Jump to</a>
                    <ul class="menupopup__menu" aria-label="menupopup" aria-expanded="false">
                        <li><a class="u-icon" href="https://students.carleton.ca">{% include 'icons/home.svg' %}Current students home</a></li>
                        <li><a class="u-icon" href="https://central.carleton.ca">{% include 'icons/diamond.svg' %} Carleton Central</a></li>
                        <li><a class="u-icon" href="https://carleton.ca/culearn/">{% include 'icons/e-learning.svg' %} cuLearn</a></li>
                        <li><a class="u-icon" href="https://library.carleton.ca">{% include 'icons/book.svg' %} Library</a></li>
                        <li><a class="u-icon" href="https://360.carleton.ca">{% include 'icons/mark-360.svg' %} Carleton360</a></li>
                        <li><a class="u-icon" href="https://carleton.ca/campus/map/">{% include 'icons/location.svg' %} Campus map</a></li>
                    </ul>
                </li>
                <li class="masthead__search">
{#                    onclick="loadScript('https://cu-rds.s3.amazonaws.com/hp/js/hm-search.js');"#}
                    <button value="Proceed" aria-label="Open Search" class="masthead__searchbtn u-icon">
                        {% include "icons/search.svg" %} <span class="u-hide-s">Search</span>
                    </button>
                </li>
                <li class="masthead__navicon">
                    <button class="c-navicon c-navicon--spin" aria-label="Open Menu" title="Open site-wide menu"  type="button">
						<span class="c-navicon__box">
							<span class="c-navicon__inner"></span>
					 	</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
