<div class="c-data-table">
    <table>
        <thead>
        <tr>
            <td>With wrapper</td>
            <td>And larger width</td>
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Praesent dapibus iaculis</td>
            <td>Quisque</td>
            <td>Nam eget accumsan</td>
            <td>In scelerisque</td>
            <td><a href="#">Mauris ac gravida</a></td>
            <td>Tempor eu</td>
            <td>Pellentesque</td>
        </tr>
        <tr>
            <td>Pellentesque</td>
            <td>Mauris ac gravida</td>
            <td>In scelerisque</td>
            <td>Quisque</td>
            <td>Nam eget accumsan</td>
            <td>Praesent dapibus iaculis</td>
            <td>Tempor eu</td>
        </tr>
        <tr>
            <td>Nam eget accumsan</td>
            <td>Praesent dapibus iaculis</td>
            <td>Tempor eu</td>
            <td>&nbsp;Mauris ac gravida</td>
            <td>Pellentesque</td>
            <td>Quisque</td>
            <td>In scelerisque</td>
        </tr>
        <tr>
            <td>Tempor eu</td>
            <td>Nam eget accumsan</td>
            <td>Pellentesque</td>
            <td>Praesent dapibus iaculis</td>
            <td>In scelerisque</td>
            <td>Quisque</td>
            <td>Mauris ac gravida</td>
        </tr>
        <tr>
            <td>In scelerisque</td>
            <td>Quisque</td>
            <td>Mauris ac gravida</td>
            <td>Tempor eu</td>
            <td>Praesent dapibus iaculis</td>
            <td>Pellentesque</td>
            <td>Nam eget accumsan</td>
        </tr>
        </tbody>
    </table>
</div>
