<ul>
    <li><a href="{{ site.url }}dev/layouts/aside-main/">Aside + Main</a></li>
	<li><a href="{{ site.url }}dev/layouts/main-aside/">Main + Aside</a></li>
	<li><a href="{{ site.url }}dev/layouts/aside-main-aside/">Aside + Main + Aside</a></li>
</ul>
