<ul>
    <li><a href="{{ site.url }}dev/understanding-rds/concepts-makeup/">Concepts that makeup of RDS</a> - Review Required</li>
    <li><a href="{{ site.url }}dev/understanding-rds/principles/">Principles</a> - Review Required</li>
    <li><a href="{{ site.url }}dev/understanding-rds/blocks-in-depth/">Block in-depth</a> - Review Required</li>
    <li><a href="{{ site.url }}dev/understanding-rds/layouts/">Layouts</a> - Review Required</li>
</ul>
