
{% from 'details/details.twig' import details %}
{{ details (
    {
        blockColor: "white",
        blockHeading: "Event variant",
        blockSubheading: null,
        cta: "Register Now",
        ctaLink: "#",
        ctaIcon: "pencil",
        cta2: "Add to calendar",
        ctaLink2: "#",
        ctaIcon2: "plus",
        dateStart: "2073-04-24T08:00:00",
        dateEnd: "2073-04-24T10:30:00",
        variant: "event",
        items:
        [
            {
                term: "Location",
                description: "A602 <a href=\"link to building\">Loeb Building</a>",
            },
            {
                term: "Cost",
                description: "Free"
            },
            {
                term: "Registration",
                description: "Not required"
            },
            {
                term: "Contact",
                description: "<a hred=\"mailto:janed.doe@carleton.ca\">Jane Doe</a>, 7373"
            },
            {
                term: "More info",
                description: "<a hred=\"link\">Event website</a>"
            }
        ]
    }
) }}
