{% from "sidebar/sidebar.twig" import sidebar %}
{{ sidebar (
    {
        button: 'Download now',
        buttonIcon: 'arrow-down',
        content: '<p>Lorem ipsum sit amet, consectetur adipiscing elit. Cras convallis neque quis enim eleifend luctus. Aliquam erat volutpat. Praesent malesuada dapibus turpis, a aliquam lacus mollis vel.</p>',
        heading: 'Ideas@Carleton',
        headingIcon: 'light-bulb',
        title: 'This is the title',
        url: 'https://carleton.ca'
    }
) }}
