{% from "sidebar/sidebar.twig" import sidebar %}
{{ sidebar (
    {
    },
    {
        content: '<p>Lorem ipsum <a href="https://carleton.ca/">dolor</a> sit amet, consectetur adipiscing elit. Cras convallis neque quis enim eleifend luctus. Aliquam erat volutpat. Praesent malesuada dapibus turpis, a aliquam lacus mollis vel.</p>',
        img: 'https://via.placeholder.com/640x480',
        imgAlt: '',
        title: 'This is the title'
    }
) }}
