{% from "sidebar/sidebar.twig" import sidebar %}
{{ sidebar (
    {
        variant: 'cta'
    },
    {
        button: 'More about CTA buttons',
        content: '<p>Lorem ipsum sit amet, consectetur adipiscing elit. Cras convallis neque quis enim eleifend luctus. Aliquam erat volutpat. Praesent malesuada dapibus turpis, a aliquam lacus mollis vel.</p>',
        img: 'https://via.placeholder.com/640x480',
        title: 'This is the title',
        url: site.url ~ '/dev/components/buttons/cta-button/'
    }
) }}
