{% from "sidebar/sidebar.twig" import sidebar %}
{{ sidebar (
    {
        variant: 'cta'
    },
    {
        button: 'Text',
        content: '<p><strong>Note:</strong> 640x480 is the preferred img size. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pharetra sem, nec pellentesque metus. Fusce posuere ultrices ante vitae pharetra.</p>',
        heading: 'Yo heading I is',
        title: 'This is the title',
        url: 'https://carleton.ca'
    }
) }}
