.c-cardlabel{
	overflow: hidden;
	box-shadow: 0 5px 8px 2px rgba($grey-emperor, 0.1);
	background-color: white;
	height: 200px;
	border-radius: 5px;
	border: 1px solid $grey;
	text-align: center;
}

.cardlabel__content figure {
	height: 160px;
	transition: all .3s ease-out;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 60px;
		height: 60px;
	}
}

.cardlabel__content svg {
	width: 60px;
	height: 60px;
}

.cardlabel__content h2 {
	font-size: $pixel16;
	padding: 3px 5px 5px;
	margin-bottom: 10px;
}

.cardlabel__label {
	background-color: $grey;
	padding: 10px;
}

.c-cardlabel:hover .cardlabel__content figure {
	height: 100px;
}
