<section class="u-block u-block--full js-overlay-movemenu">
    <div class="b-menu">
        {% if page.subsite == 'dev' %}
            <h2 class="menu__section">Dev</h2>
        {% else %}
            <h2>Site navigation</h2>
        {% endif %}
        {% from "menu/menu.twig" import menuMacro %}
        {{ menuMacro (
            [
                {
                    title: 'Getting started',
                    url: site.url ~ 'dev/getting-started/',
                    section: page.section,
                },
                {
                    title: 'Getting started',
                    url: site.url ~ 'dev/getting-started/',
                    section: page.section,
                },
                {
                    title: 'Getting started',
                    url: site.url ~ 'dev/getting-started/',
                    section: page.section,
                },
                {
                    title: 'Getting started',
                    url: site.url ~ 'dev/getting-started/',
                    section: page.section,
                },
                {
                    title: 'Getting started',
                    url: site.url ~ 'dev/getting-started/',
                    section: page.section,
                },
            ]
        )}}
    </div>
</section>
