<section class="u-block u-block--full has-b-menu">
    <div class="b-menu">
        <h2>Site Navigation</h2>
        {% from "menu/menu.twig" import menuMacro %}
        {{ menuMacro (
            [
                {
                    title: 'Blocks',
                    url: '#',
                    section: page.section,
                    subsection: page.subsection,
                    submenu:
                    [
                        {
                            title: 'Header blocks',
                            url: site.url ~ 'dev/blocks/header/',
                            submenu: [
                            {
                                title: "Banner",
                                url: site.url ~ 'dev/blocks/header/banner/'
                            },
                            {
                                title: "Global Nav",
                                url: site.url ~ 'dev/blocks/header/globalnav/'
                            },
                            {
                                title: "Masthead",
                                url: site.url ~ 'dev/blocks/header/masthead/'
                            },
                            {
                                title: "Search",
                                url: site.url ~ 'dev/blocks/header/search/'
                            }
                        ]
                        },
                        {
                            title: 'Main blocks',
                            url: site.url ~ 'dev/getting-started/quick-start/',
                            section: page.section,
                            subsection: page.subsection,
                            submenu: [
                            {
                                active: page.title,
                                title: "Card Grid",
                                url: site.url ~ 'dev/blocks/main/cardgrid/'
                            },
                            {
                                active: page.title,
                                title: "Content",
                                url: site.url ~ 'dev/blocks/main/content/'
                            },
                            {
                                active: page.title,
                                title: "Listing",
                                url: site.url ~ 'dev/blocks/main/listing/'
                            },
                            {
                                active: page.title,
                                title: "Text Image",
                                url: site.url ~ 'dev/blocks/header/textimg/'
                            }
                        ]
                        },
                        {
                            title: 'Aside blocks',
                            url: site.url ~ 'dev/blocks/aside/',
                            active: page.title,
                            section: page.section,
                            subsection: page.subsection,
                            submenu: [
                            {
                                active: page.title,
                                title: 'Sidebar',
                                url: site.url ~ 'dev/blocks/aside/sidebar/'
                            }
                        ]
                        },
                        {
                            title: 'Footer blocks',
                            url: site.url ~ 'dev/getting-started/recipes-and-patterns/'
                        }
                    ]
                },
                {
                    title: "Components",
                    url: site.url ~ 'dev/components/'
                },
                {
                    title: 'Getting started',
                    url: site.url ~ 'dev/getting-started/',
                    section: page.section,
                    submenu:
                    [
                        {
                            title: 'Quick start',
                            url: site.url ~ 'dev/getting-started/quick-start/'
                        },
                        {
                            title: 'Starter downloads',
                            url: site.url ~ 'dev/getting-started/started-downloads/'
                        },
                        {
                            title: 'Recipes and patterns',
                            url: site.url ~ 'dev/getting-started/recipes-and-patterns/'
                        }
                    ]
                },
                {
                    title: "Main concepts",
                    url: site.url ~ 'dev/main-concepts/',
                    section: page.section,
                    submenu:
                    [
                        {
                            title: 'Blocks in depth',
                            url: site.url ~ 'dev/main-concepts/blocks-in-depth/'
                        },
                        {
                            title: 'Components',
                            url: site.url ~ 'dev/main-concepts/components/'
                        },
                        {
                            title: 'Layouts',
                            url: site.url ~ 'dev/main-concepts/layouts/'
                        },
                        {
                            title: 'Themes',
                            url: site.url ~ 'dev/main-concepts/themes/'
                        },
                        {
                            title: 'Spacing',
                            url: site.url ~ 'dev/main-concepts/spacing/'
                        }
                    ]
                },
                {
                    title: "Custom theming",
                    url: site.url ~ 'dev/custom-theming/',
                    section: page.section,
                    submenu:
                    [
                        {
                            title: 'Instalation and tooling',
                            url: site.url ~ 'dev/custom-theming/instalation-and-tooling/'
                        },
                        {
                            title: 'SASS',
                            url: site.url ~ 'dev/custom-theming/components/'
                        },
                        {
                            title: 'Custom blocks',
                            url: site.url ~ 'dev/custom-theming/custom-blocks/'
                        },
                        {
                            title: 'Icon system',
                            url: site.url ~ 'dev/custom-theming/icon-system/'
                        },
                        {
                            title: 'Working with layouts',
                            url: site.url ~ 'dev/custom-theming/working-with-layouts/'
                        },
                        {
                            title: 'Grid system',
                            url: site.url ~ 'dev/custom-theming/grid-system/'
                        }
                    ]
                },
                {
                    title: "Guidelines",
                    url: site.url ~ 'dev/guidelines/',
                    section: page.section,
                    submenu:
                    [
                        {
                            title: 'Principles and guidelines',
                            url: site.url ~ 'dev/#'
                        },
                        {
                            title: 'SASS',
                            url: site.url ~ 'dev/#/'
                        },
                        {
                            title: 'Naming of things',
                            url: site.url ~ '#'
                        },
                        {
                            title: 'Markup and style',
                            url: site.url ~ '#'
                        },
                        {
                            title: 'A11y',
                            url: site.url ~ 'dev/#'
                        },
                        {
                            title: 'Security',
                            url: site.url ~ 'dev/#'
                        },
                        {
                            title: 'Glossary',
                            url: site.url ~ 'dev/#'
                        }
                    ]
                }
            ]
        )}}
    </div>
</section>
