{#<section class="u-block u-block--full js-overlay-movemenu">#}
{#    <div class="b-menu b-menu--sidenav">#}
{#        {% if page.subsite == 'about' %}#}
{#            <h2 class="menu__section">About RDS</h2>#}
{#        {% else %}#}
{#            <h2>Site navigation</h2>#}
{#        {% endif %}#}
{#        {% from "menu/menu.twig" import menuMacro %}#}
{#        {{ menuMacro (#}
{#            [#}
{#                {#}
{#                    active: page.title,#}
{#                    title: 'Contributing',#}
{#                    url: site.url ~ 'about/contributing/',#}
{#                    section: page.section#}
{#                },#}
{#                {#}
{#                    active: page.title,#}
{#                    title: "Browser and device compatibility",#}
{#                    url: site.url ~ 'about/browsers/',#}
{#                    section: page.section#}
{#                },#}
{#                {#}
{#                    title: 'Getting help',#}
{#                    url: site.url ~ 'about/help/',#}
{#                    section: page.section#}
{#                },#}
{#                {#}
{#                    title: 'Release notes',#}
{#                    url: site.url ~ 'about/releases/',#}
{#                    section: page.section#}
{#                }#}
{#            ]#}
{#        )}}#}
{#    </div>#}
{#</section>#}
