.b-cardgrid + .c-buttoncta {
	margin-top: $block-margin;
}

.b-cardgrid--stacks.u-grid {
	@include media('<=s') {
		display: block;
	}
}

.b-cardgrid--stacks > .c-card {
	@include media('<=s') {
		display: flex;
		flex-direction: row;
		border: 1px solid $grey;
		margin-bottom: 20px;

		.card__figure {
			width: 40%;
			float: left;

			img:not(.c-card--people .card__figure img) {
				border-top-right-radius: 0;
				border-bottom-left-radius: 5px;
			}
		}

		.card__body {
			float: left;
			padding: 20px;
			min-height: auto;
			width: 60%;
		}

		@include media('<410px') {
			.card__title {
				font-size: 15px;
			}

			.card__date {
				font-size: 13px;
			}

			.card__body {
				padding: 13px;
			}
		}

		@include media('>500px') {
			&:after {
				left: 44%;
				bottom: 20px;
				margin-top: 20px;
			}
		}

		.card__text:not(.c-card--people .card__text) {
			display: none;
		}
	}
}

.b-cardgrid--stacks > .c-card--people {
	@include media('<=s') {

		text-align: left;

		.card__figure {
			padding: 15px 0;
		}
	}

	@include media('<=s') {
		&:after {
			left: 44% !important;
			bottom: 20px;
			margin-top: 20px;
		}
	}
}
