.c-card {
	position: relative;
	height: 100%; // helps with equal vert height in listings
	background-color: white;
	max-width: 768px;
	border-radius: 10px;

	&:hover h3 {
		color: $red;
	}

	&:after {
		content: '';
		position: absolute;
		width: 25px;
		height: 1px;
		left: 15px;
		bottom: 15px;
		margin-top: 20px;
		background: $red;

		@include media('>s') {
			left: 25px;
			bottom: 20px;
		}
	}

	// to use if we ever use a card without an image
	//&--no-img {
	//	max-width: 384px;
	//}

	// link wrapped around entire card
	a {
		display: block;
		color: $black !important;
		box-shadow: $ds-y;
		width: 100%;
		height: 100%;
		border-radius: 5px;

		&:hover {
			text-decoration: none;
			box-shadow: $ds-k;
		}
	}

	img {
		width: 100%;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		margin-bottom: 0 !important;
	}

	header {
		min-height: 130px;
		padding: 15px 15px 40px 15px;

		@include media('>s') {
			padding: 25px 25px 50px;
		}
	}

	time {
		display: block;
		margin-bottom: 6px;
		font-size: $pixel14;
		font-weight: 400;
		line-height: 1.25;
		color: $grey-vader;
	}

	// Card heading
	h3 {
		font-size: $pixel16;
		margin: 0 0 5px;
		line-height: 1.25;
		border-bottom: 0;

		@include media('>s') {
			font-size: $pixel15;
		}
	}

	// Card description
	p {
		font-size: $pixel14;
		font-weight: 300;
		line-height: 1.4;
	}
} // End c-card component

// increase drop shadow on white bgs
.u-block--white .c-card a {
	box-shadow: $ds-k;

	&:hover {
		box-shadow: $ds-l;
	}
}

// Bigger title when in 3 col grid
.u-grid--3 .c-card h3 {
	@include media('>s') {
		font-size: $pixel18;
	}
}

// Less padding in 4 col grid
.u-grid--4 .c-card header {
	padding: 20px 20px 40px 20px;
}

.u-grid--4 .c-card:after {
	left: 20px;
	width: 20px;
}

// Video variant
//==============
.c-card--video figure {
	position: relative;

	> span {
		font-size: 65px;
		position: absolute;
		top: calc(
			50% - 32px
		); // determine center by subtracting half the height of the icon
		left: calc(50% - 32px); // and again
		width: 50px;
		height: 50px;
		fill: white;

		&::before {
			background-color: rgba(191, 17, 43, 0.65);
		}
	}
}

// People variant
//===============
.c-card--people {
	text-align: center;
	border-top: 1px solid $grey;

	&:after {
		left: calc(50% - 12.5px) !important;
	}
}
.c-card--people figure {
	padding-top: 20px;

	img {
		border-radius: 50%;
		border: 5px solid rgba($grey-yoda, 0.75);
		margin: 0 auto;
		max-width: 55%;
	}
}

.c-card--figure {
	text-align: center;

	a {
		display: flex;
		justify-content: center;
		flex-direction: column;
		border: 1px solid $grey-yoda;
		border-radius: 6px;
	}

	a > figure {
		border: none;
	}

	figure {
		padding: 40px;
		border: 1px solid $grey-kenobi;
		border-radius: 6px;
	}

	figcaption {
		color: $grey-vader;
		margin-bottom: 15px;
	}

	p {
		font-size: $pixel54;
		font-weight: 700;
		line-height: 0.8;
	}

	&:after {
		display: none;
	}
}
