/*
 * Base Card Styles
 * =======================================
 */

.c-card {
	position: relative;
	height: 100%; // helps with equal vert height in listings
	box-shadow: 0 1px 2px rgba($black, 0.2);
	background-color: white;
	max-width: 768px;
	border-radius: 5px;

	&:hover {
		box-shadow: 0 5px 8px 2px rgba($grey-emperor, 0.1);
		overflow: visible;
	}

	&:hover .card__title {
		color: $red;
		text-decoration: none;
	}

	&:after {
		content: '';
		position: absolute;
		width: 25px;
		height: 1px;
		left: 15px;
		bottom: 15px;
		margin-top: 20px;
		background: $red;

		@include media('>s') {
			left: 25px;
			bottom: 20px;
		}
	}

	// to use if we ever use a card without an image
	&--no-img {
		max-width: 384px;
	}

	a {
		// 	height: 100%;
		display: block;
		color: $black;

		&:hover {
			text-decoration: none;
		}
	}
}

// increase drop shadow on white bgs
.u-block--white .c-card {
	box-shadow: 0 5px 8px 2px rgba($grey-emperor, 0.1);

	&:hover {
		box-shadow: 0 5px 18px 2px rgba($grey-emperor, 0.2);
	}
}

.card__figure img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 0 !important;
}

/*
 * Card Content Elements
 * =======================================
 */

.card__body {
	min-height: 130px;
	padding: 15px 15px 40px 15px;

	@include media('>s') {
		padding: 25px 25px 50px;
	}
}

.card__title {
	font-size: $pixel16;
	margin: 0 0 5px;
	line-height: 1.25;
	border-bottom: 0;

	@include media('>s') {
		font-size: $pixel18;
	}
}

.card__date,
.card__category {
	display: block;
	margin-bottom: 6px;
	font-size: $pixel14;
	font-weight: 400;
	line-height: 1.25;
	color: $grey-vader;
}

@include media('<s') {
	.card__category {
		display: none;
	}
}

.card__text {
	font-size: $pixel14;
	font-weight: 300;
	line-height: 1.4;
}

.card__text--action {
	color: $red;
}

/*
 * Card Icon Styles
 * =======================================
 */

.card__icon {
	background-size: 60px;
}

/*
 * Video Card Styles
 * ==================
 */

.c-card--video .card__figure {
	position: relative;

	> span {
		&::before {
			background-color: rgb(191,17,43,0.65);
			//background-color: rgb(black,0.45);
		}

		font-size: 65px;
			position: absolute;
			top: calc(50% - 32px); // calc is used to determine center by subtracting half the height of the icon
			left: calc(50% - 32px); // calc is used to determine center by subtracting half the width of the icon
			width: 50px;
			height: 50px;
			fill: white;
	}
}

/*
 * People Card Styles
 * ==================
 */

.c-card--people {
	text-align: center;
	border-top: 1px solid $grey;

	&:after {
		left: calc(50% - 12.5px) !important; // calc is used to determine center by subtracting half the width of the bottom red line
	}
}
.c-card--people .card__figure {
	padding-top: 20px;

	img {
		border-radius: 50%;
		border: 5px solid rgba($grey-yoda, 0.75);
		margin: 0 auto;
		max-width: 55%;
	}
}
