// Small screen styling
//=====================

@include media("<=s") {
	.b-textimg {
		img {
			padding-bottom: 20px;
		}
	}
}

// > then small styles
//====================
@include media('>=s') {
	// Block
	.b-textimg {
		// Block wrapper
		.textimg__wrapper {
			position: relative;
		}
		// Additonal wrapper
		section,
		.textimg__wrapper > div {
			min-height: 270px;
			padding: 0 45% 0 0; // TODO ADDED FOR GH-40
			// max-width: 50%; // TODO REMOVED FOR GH-40
			//min-width: 220px;
		}

		h2,
		h3 {
			//text-align: left;
			//border-bottom: none;
			//font-size: $pixel28;

			// @include media('>=820px', '<=960px') {
			// 	max-width: 370px; // TODO REMOVED FOR GH-40 (not sure what it's doing)
			// 	margin: 0; // TODO REMOVED FOR GH-40 (not sure what it's doing)
			// }

			// @include media('>=720px', '<=820px') {
			// 	max-width: 335px; // TODO REMOVED FOR GH-40 (not sure what it's doing)
			// 	margin: 0; // TODO REMOVED FOR GH-40 (not sure what it's doing)
			// }
		}

		.textimg__text {
			//margin: 0 auto;
			//text-align: left;

			@include media('>=820px', '<=960px') {
				// max-width: 370px; // TODO REMOVED FOR GH-40 (not sure what it's doing)
				//margin: 0;
			}

			@include media('>=720px', '<=820px') {
				// max-width: 335px; // TODO REMOVED FOR GH-40 (not sure what it's doing)
				//margin: 0;
			}
		}

		img {
			//margin-bottom: 20px;

			@include media('>=s') {
				position: absolute;
				top: 0;
				right: 0;
				//width: auto;
				width: 40%; // TODO ADDED FOR GH-40
				// max-width: 45%; // TODO REMOVED FOR GH-40
				max-height: 320px;
			}
		}
	} // end b-textimg

	.b-textimg--imgtext {
		& img {
			left: 0;
			right: auto;
			position: absolute;
		}

		& h2,
		h3 {
			@include media('>=l') {
				max-width: none;
			}
		}

		& section {
			padding: 0 0 0 45%; // TODO ADDED FOR GH-40
			// float: right; // TODO REMOVED FOR GH-40
		}

		&:after {
			// clear float
			content: '';
			display: table;
			clear: both;
		}
	}

	.l-col-l .b-textimg section,
	.l-col-l .b-textimg .textimg__wrapper > div {
		min-height: 320px;
		// max-width: 55%; // TODO REMOVED FOR GH-40
	}
} // end if > s
