{% macro cta(settings, data) %}
<a class="c-button{% if settings.variant == "ghost" %} c-button--ghost{% endif %}{% if settings.variant == "grey" %} c-button--grey{% endif %}" href="{{ data.url }}">{% if data.icon %}{% include
    'components/icons/' ~ data.icon ~ '.svg' ignore missing %}{% endif %} {{ data.title }}</a>
{% endmacro %}
