.b-content {
	a {
		color: $red;
	}

	a:hover {
		text-decoration: underline;
	}

	h1 {
		border-bottom: 1px solid $grey;
		padding-bottom: 0.3em;
	}

	img {
		margin-bottom: 20px;
	}

	> h1:not(:first-of-type), > h2:not(:first-of-type) {
		margin-top: 40px;
	}

	> h3, > h4, > h5, > h6 {
		margin-top: 25px;
	}

	& > .u-block {
		padding-left: 0;
		padding-right: 0;
	}
}
