// Icon utils
// see /src/_themes/core/scss/base/utilities/_utilities.scss
// -------------

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.u-icon:not(.c-menupopup):not(.masthead__search-btn) {
		align-items: flex-start !important;
	}
}

// Hero Banner
// see /src/_themes/hp/blocks/bannerhero/_bannerhero.scss
// -------------

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.b-bannerhero img {
		max-height: initial !important;
		height: initial !important;
	}
}
