// Notes
// The arrow icon could be made darker

// > then small screen styles
// =======================================

.has-b-menu .menu__title {
	display: none;
}

.has-b-menu ul li {
	border-bottom: 1px solid $grey;
	margin-right: 20px;
}

.has-b-menu ul li li {
	margin-right: 0;
}

.has-b-menu .menu__url {
	line-height: 2.4;
}

.has-b-menu .menu__icon {
	line-height: 2.15;
	right: -15px;
}

.has-b-menu .menu__child {
	background-color: white !important;
}

.has-b-menu .menu__child--2 {
	box-shadow: none;
}

.has-b-menu .menu__child--2 a {
	padding-left: 15px;
	font-size: 15px; // TODO: where can I test?
	color: $grey-vader;
}

.has-b-menu .menu__child--3 a {
	padding-left: 25px;
	color: $grey-vader;
}

.has-b-menu a,
.has-b-menu li li {
	border-bottom: none;
}

.has-b-menu .menu__child--2 .menu__url {
	line-height: 2.3;
}

.has-b-menu .menu__child--2 .menu__icon {
	line-height: 1.8;
}

// Dark Nav Modifier
// =======================================
//
//.b-menu--dark {
//	background-color: $black;
//}
//
//.b-menu--dark .menu__url {
//	border-bottom: 1px solid $grey-emperor;
//	color: white;
//}
//
//.b-menu--dark .menu__list-item label:hover a,
//.b-menu--dark .menu__url:hover {
//	background: darken($black, 3%);
//}
//
//.b-menu--dark .menu__child--second {
//	background-color: lighten($black, 3%);
//
//	.menu__url:focus, .menu__url:hover {
//		background-color: darken($black, 6%);
//	}
//}
//
//.b-menu--dark .menu__child--third {
//	background-color: lighten($black, 8%);
//
//	.menu__url:focus, .menu__url:hover {
//		background-color: darken($black, 7%);
//	}
//}
//
//.b-menu--dark .menu__child--fourth {
//	background-color: lighten($black, 11%);
//
//	.menu__url:focus, .menu__url:hover {
//		background-color: darken($black, 7%);
//	}
//}
