//
// Side Nav Styles
// ------------------------

.c-nav--vert {
	ul {
		margin: 0;
		list-style-type: none;
	}

	// Add borders to top most elements only
	& > ul {
		border-bottom: 1px solid $grey;

		& > li {
			border-top: 1px solid $grey;
		}
	}

	li {
		position: relative;

		a {
			display: block;
			padding: 8px 10px;
		}
	}

	button {
		position: absolute;
		top: 5px;
		right: -10px;
		height: 40px;
		width: 40px;
		font-size: 18px;
		color: $grey-luke;
		transition: transform 0.25s ease;
	}

	// TODO fix conflicts with top level
	// Child nav
	// .has-submenu {
	// 	button {
	// 		top: 2px;
	// 	}

	// 	li a {
	// 		font-size: 15px;
	// 		color: $grey-emperor;
	// 		padding-left: 25px;
	// 	}

	// 	li.has-submenu {
	// 		background-color: rgba(red, 0.1);

	// 		ul {
	// 			padding-left: 20px;
	// 		}
	// 	}
	// }

	// Rotate the open / close button
	.has-submenu.open {
		& > button {
			transform: rotate(45deg);
			transition: transform 0.25s ease;
		}
	}

	// Hide child navs by default
	.has-submenu > ul {
		// display: none;
	}

	// Show the child nav when expanded
	.has-submenu.open > ul {
		display: block;
	}
}
