<nav class="c-nav--vert" role="presentation" aria-label="Main Navigation">
    <ul class="nav__menu--vert">
        <li><a href="/programs/">A - Level 1</a></li>
        <li class="has-submenu"><a href="/programs/">B - Level 1</a>
            <button aria-expanded="true" aria-controls="id_b_2">+</button>
            <ul id="id_b_2">
                <li><a href="/programs/">B - Level 2A</a>
                <li class="has-submenu"><a href="/programs/" >B - Level 2B</a>
                    <button aria-expanded="true" aria-controls="id_b_3">+</button>
                    <ul id="id_b_3">
                        <li class="has-submenu"><a href="/programs/doctoral-programs/">B - Level 3A</a>
                        <li class="has-submenu"><a href="/programs/doctoral-programs/">B - Level 3B</a>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/contact/">C - Level 1</a></li>
    </ul>
</nav>
