.c-heading {
	border-bottom: 1px solid $grey;
}

.c-heading--center {
	font-size: $type30;
	text-align: center;
	border-bottom: none;

	@include media('>=s') {
		font-size: $type36;
		max-width: 600px;
	}
}

.c-heading--center + p {
	text-align: center;
	font-size: $type18;
	font-weight: 300;
	position: relative;
	padding-bottom: 25px;
	max-width: 620px;
	margin-top: -5px;
	margin-bottom: 40px;

	&:after {
		position: absolute;
		content: '';
		width: 60px;
		height: 1px;
		border-bottom: 1px solid $red;
		bottom: 0;
		left: 50%;
		margin-left: -30px;
	}

	@include media('>=s') {
		font-size: $type20;
		padding-bottom: 25px;
	}
}
