// Reset from slightly edited version of minireset.css v0.0.3 | github.com/jgthms/minireset.css
// Combined with RDS opinions for baseline element styles
// Note: no '.classes' allowed here
// ---------------------------------
//
//  Table of Contents:
//
//   1. Document/body
//   2. Link and button styles
//   3. Headings
//   4. Content styles
//   5. Table styles
//   6. Pre/Code
//   7. Form elements

// 1. Document/body
// -----------------
* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	-webkit-text-size-adjust: none; // stops ios safari from growing text
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth; // you've been hit by a... smooth criminal
}

body {
	background-color: white;
	margin: 0;
	font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', -apple-system,
		'blinkmacsystemfont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica',
		'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-style: normal;
	color: $black;
}

// for ie 11
main,
time {
	display: block;
}

// 2. Link and button styles
// -------------------------

a {
	font-weight: 500;
	text-decoration: none;
	outline: none;
	color: $black;
	cursor: pointer;

	&:focus {
		outline: 0 none;
	}
}

a:hover,
a:focus,
button:focus,
button:hover,
input[type='submit']:focus,
input[type='submit']:hover {
	text-decoration: none;
}

button {
	cursor: pointer;
}

// 3. Headings
// -----------
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 500;
	margin-bottom: 16px;
	line-height: 1.125;
}

h1 {
	font-size: $type28;
	padding-bottom: 0.3em;

	@include media('>s') {
		font-size: $type30;
	}
}

h2 {
	font-size: $type24;
	padding-bottom: 0.3em;

	@include media('>s') {
		font-size: $type28;
	}
}

h3 {
	font-size: 22px;
}

h4,
h5,
h6 {
	font-size: $type16;

	@include media('>s') {
		font-size: $type18;
	}
}

// 4. Content styles
// -----------------
address {
	font-style: normal;
	line-height: 1.6;
}

p,
ul,
ol {
	font-size: $type16;
	line-height: 1.7;
	margin-bottom: 25px;

	&:last-child {
		margin-bottom: 0;
	}

	ul,
	ol {
		margin-top: 3px;
		margin-bottom: 3px;
	}
}

p:empty {
	display: none;
}

ul,
ol {
	margin-left: 30px;
	line-height: 1.9;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-bottom: 0;
	line-height: 1.9;
}

blockquote {
	font-weight: 300;
	font-style: italic;
	border-left: 0.2em solid $red;
	margin: 0 0 25px 0;
	padding: 0.5em 1em;

	& p {
		margin-bottom: 0;
	}
}

img {
	max-width: 100%;
	height: auto;

	@include media('<=s') {
		width: 100%;
	}
}

img,
figure {
	display: block;
}

audio {
	width: 100%;
	margin-bottom: 20px;
}

video {
	width: 100%;
	margin-bottom: 20px;
	height: auto;
	background-color: $grey-kenobi;
}

// 5. Table styles
// ---------------
table {
	width: 100%;
	font-size: $type14;
	margin-bottom: 20px;
	border-collapse: collapse;
	border-spacing: 0;
	white-space: nowrap;
	vertical-align: top;
	display: block; // used to force responsive
	overflow-x: auto; // used to force responsive

	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol {
		font-size: $type14;
		border: none !important;
		margin-top: 0;

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	ul,
	ol {
		margin-left: $type18;
	}
}

table tr {
	border-top: 1px solid $grey;
	background-color: white;
}

table tr:nth-child(2n) {
	background-color: #fbfbfb;
}

table tr th {
	font-weight: 700;
	border: 1px solid $grey;
	text-align: left;
	margin: 0;
}

table tr td {
	border: 1px solid $grey;
	text-align: left;
	margin: 0;
}

table thead tr th,
table tr td {
	padding: 15px;
	vertical-align: top;

	@include media('>s') {
		padding: 20px;
	}
}

table thead tr th {
	border: 1px solid $grey-emperor;
	background-color: $grey-emperor;
	color: white;
}

td,
th {
	padding: 0;
	text-align: left;
}

// 6. Pre/Code
// -----------

pre {
	margin-bottom: $margin-bottom;
}

pre,
code {
	font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', Courier,
		monospace;
	font-size: 1em;
	line-height: 1.4;
	background-color: $grey;
	padding: 0.2em 0.4em;
}

// 7. Form elements
// ----------------

button,
input,
select,
textarea {
	margin: 0;
}

iframe {
	border: 0;
}

// only apply the below styles if wrapped in a form
form {
	& input[type='submit'] {
		background-image: linear-gradient(-180deg, #3f9feb 3%, #0268b0 100%);
		border: 1px solid #0077cc;
		box-shadow: 0 5px 4px 0 rgba(130, 130, 130, 0.5), inset 0 1px 3px 0 #e9f5ff;
		border-radius: 5px;
		min-height: 50px;
		color: white;
		padding: 10px 20px;
		font-size: $type18;
		font-weight: 600;
		text-align: center;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

		&:hover {
			background-image: linear-gradient(-180deg, #50b2ff 3%, #0268b0 100%);
			cursor: pointer;
		}
	}
}
