{% if cta %}
    <a class="c-buttoncta" href="{{ url }}">{{ cta }}</a>
{% endif %}
{% if component %}
    {% set noclose = true %}
{% if '-' in component %}
{% set ex = component|split('-') %}
{% if code == true %}
<pre><code class="html">{% spaceless %}{% filter escape %}{% include ex.0 ~ '/data/' ~ ex.0 ~ '--' ~ ex.1  %}{% endfilter %}{% endspaceless %}</code>
</pre>
{% else %}
{% include ex.0 ~ '/data/' ~ ex.0 ~ '--' ~ ex.1  %}
{% endif %}
{% else %}
{% include component ~ '/' ~ component %}
{% endif %}
{% endif %}
{% if (page.content != 'none' or close == true) and open == false and sidebar != true and code != true and noclose != true %}
    {{ noclose}}</div>
</div>
{% endif %}
{#---- For including blocks ----#}
{% if block %}
{% if '-' in block %}
{% set ex = block|split('-') %}
{% if code == true %}
<pre><code class="html">{% spaceless %}{% filter escape %}{% include ex.0 ~ '/data/' ~ ex.0 ~ '--' ~ ex.1  %}{% endfilter %}{% endspaceless %}</code>
</pre>
{% else %}
{% include ex.0 ~ '/data/' ~ ex.0 ~ '--' ~ ex.1  %}
{% endif %}
{% else %}
{% if theme %}
{% include theme ~ '/blocks/' ~ block ~ '/' ~ block %}
{% else %}
{% include block ~ '/' ~ block %}
{% endif %}
{% endif %}
{% endif %}
{% if macro == 'listing' %}
{% from macro ~ '/' ~ macro import listing %}
    {{ listing (
        {
            color: 'white'
        },
        [
            {
                title: title1,
                url: url1,
            },
            {
                title: title2,
                url: url2
            },
            {
                title: title3,
                url: url3
            },
            {
                title: title4,
                url: url4
            },
            {
                title: title5,
                url: url5
            }
        ]
    ) }}
{% endif %}

{% if (page.content != 'none' or open == true) and close == false and sidebar != true and code != true and noclose != true %}
<div class="u-block u-block--white u-block--s">
    <div class="b-content">
{% endif %}
