<!doctype html>
<html class="no-js" lang="en">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
        <meta name="robots" content="noodp, noydir"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Uncomment the line below if you have been approved to use the CU's paid Gotham font -->
        <!-- <link rel="stylesheet" href="https://cloud.typography.com/6307052/6118752/css/fonts.css" />-->
        <link rel="stylesheet" href="http://cu-rds.s3.amazonaws.com/rds/{{site.version}}/rds-cu.css" media="print" onload="this.media='all'">
        <link rel="apple-touch-icon" sizes="180x180" href="https://cu-rds.s3.amazonaws.com/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://cu-rds.s3.amazonaws.com/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://cu-rds.s3.amazonaws.com/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="https://cu-rds.s3.amazonaws.com/assets/favicons/site.webmanifest">
        <link rel="mask-icon" href="https://cu-rds.s3.amazonaws.com/assets/favicons/safari-pinned-tab.svg" color="#767676">
        <link rel="shortcut icon" href="https://cu-rds.s3.amazonaws.com/assets/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#bf112b">
        <meta name="msapplication-config" content="https://cu-rds.s3.amazonaws.com/assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <title>{% if page.title %}{{ page.title }}{% else %}Add Your Page Title Here{% endif %}</title>
    </head>
{% endblock %}

<body>
<div id="app">
    <a class="u-visually-hidden" href="#content">Skip to main content</a>
    {% block header %}
    <header>
        {% include "starter/blocks/masthead.twig" %}
        <!-- Header blocks goes here-->
    </header>
    {% endblock %}

    {% block body %}
        {% block main %}
        <main>
            <!-- Main blocks goes here-->
        </main>
        {% endblock %}{# End main#}
    {% endblock %} {# END body block #}

    <footer>
    {% block footer %}
        <!-- Footer blocks goes here-->
        {% include "footerbrand/footerbrand.twig" %}
    </footer>
    {% endblock %} {# END footer block #}

    <dialog class="l-overlay-modal is-hidden">
        <div class="modal__search is-hidden">
            <!-- If using, Search block goes here-->
        </div>
        <div class="modal__menu is-hidden">
            <!-- If using, Menu block goes here-->
            {% include "starter/blocks/menu.twig" %}
        </div>
        <div class="modal__login is-hidden">
            <!-- If using, Login block goes here-->
        </div>
    </dialog>{# END dialogue #}
</div> {# END APP ID #}
{% block scripts %}
    <script type="text/javascript">
        if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="https://unpkg.com/element-closest/browser"><\/script>');
    </script>
    <script src="http://cu-rds.s3.amazonaws.com/rds/{{site.version}}/rds-cu.js"></script>
{% endblock %}  {# END SCRIPTS #}
</body>
</html>
