{#If the block is used inside of the b-content block, close it first.#}
{% if inContent == true %}
    </div>
    </div>
{% endif %}
{% block block %}
{% endblock %}
{#If the block is used inside of the b-content block, reopen the block.#}
{% if inContent == true %}
<div class="u-block u-block--s">
    <div class="b-content">
{% endif %}
