{% extends "docs" %}

{% block body %}
<div class="l-body l-body--am l-body--white">
    <div class="body__container">

        <aside class="body__nav">
            {%include 'docs/blocks/menus/menu-dev'%}

        </aside>

        {% block main %}
         <main class="body__main" id="content">
             <div class="body__content">
                 <div class="b-content">
                 {% set inContent = true %}
                 {% block content %}
                 {% endblock %}
                 </div>
             </div>
         </main>
        {% endblock %}{# End main#}
    </div>
</div>
{% endblock %}{# End body#}

