.js-masthead-2packed .b-masthead {
	height: 150px;

	& .masthead__nav {
		position: absolute;
		top: 75px;
	}
}

.js-masthead-2biggie .masthead__nav {
	background-color: $red !important;
	width: 3000px;
	color: white;
	padding: 0 40px;

	a {
		color: $red;
	}
}

.js-masthead-2biggie .masthead__nav::before {
	content: 'YOUR MENU IS TOO WIDE! PLEASE SHORTEN IT OR USE A VERTICAL PRIMARY MENU. THANK YOU!';
	color: white;
	// position: absolute;
}

// used in conjunction with js to stick the masthead on scroll up
.js-masthead--stickyscroll {
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

// used when nav is stacked and modal gets opened
.js-masthead-2packed .l-overlay-modal {
	top: 150px !important;
}


.b-masthead {
	// Positioning
	position: relative;
	z-index: 10000;
	// Box-model
	display: flex;
	justify-content: space-between;
	height: 75px;
	// Visual
	border-top: 2px solid $red;
	border-bottom: 1px solid $grey-kenobi;
	background-color: white;
	// Misc
	transition: 0.2s;
}

.b-masthead a,
.b-masthead button {
	display: inline-flex;
	padding-left: 15px;
	padding-right: 15px;
	align-items: center;
	font-size: 14px;
	//font-weight: 500;

	svg {
		height: 16px;
		width: 16px;
	}
}

.b-masthead--shadow {
	box-shadow: 0 10px 11px -7px $grey-yoda;
	margin-bottom: 6px;
}

.masthead__brand {
	display: inline-flex;
	white-space: nowrap;
	align-items: center;
	height: 73px;

	@include media('>s') {
		border-right: 1px solid $grey-yoda;
	}
}

.masthead__brand svg:not(.c-culogo) {
	min-width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-right: 3px;
}

.masthead__brand h2 {
	margin: 5px 0 0;
	padding-bottom: 0;

	span {
		display: table;
	}
}

.masthead__brand a {
	font-size: 18px;
	display: inline-flex;
	align-items: center;
	//height: $b-height;
	padding-left: 8px;
	padding-right: 8px;

	&:hover {
		color: $red;
	}

	@include media('>=s') {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 20px;
	}
}

.b-masthead--responsivenav {
	height: 150px;

	@include media('>=960px') {
		height: 75px;
	}
}

.masthead__nav {
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	position: relative;
	//overflow: auto;
	//overflow-y: hidden;
	border-top: 1px solid $grey-kenobi;
	// for smaller stacked on s
	// above---------
	align-items: center;
	white-space: nowrap;
	width: 100%;
	overflow-x: scroll;
	-ms-overflow-style: none; // IE 10+
	scrollbar-width: none; // Firefox
	overflow-y: hidden;
	white-space: nowrap;

	&::-webkit-scrollbar {
		width: 0px; /* Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
}

.b-masthead--responsivenav .masthead__nav {
	position: absolute;
	top: 73px;
	display: inline-flex;

	@include media('>=960px') {
		position: relative;
		top: auto;
		overflow-x: hidden;
		overflow-y: hidden;
	}
}

.masthead__nav ul,
.masthead__actions ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-flex;
}

// this slides out the top nav on small devices
// to remind users they can scroll horizontally
// Note: it is only applied if the body tag has a class of 'homepage'.
.masthead__nav.js-masthead-slidenav > ul {
	animation-duration: 0.666s;
	animation-name: masthead__nav--slidein;
}

@keyframes masthead__nav--slidein {
	from {
		margin-left: 900px;
	}

	to {
		margin-left: 0;
	}
}


.masthead__nav > ul > li,
.masthead__actions > ul > li {
	display: inline-flex;
	position: relative;
	height: 72px;
	//line-height: 72px;

	//&:hover > a {
	//	color: $red;
	//}
}

.js-masthead-2packed
	.b-masthead--responsivenav
	.masthead__nav
	.c-menupopup:hover
	ul.menupopup__menu {
	top: 150px;
}

.b-masthead .menupopup__menu {
	//position: fixed;
	position: absolute;
	top: 70px;
	margin-left: 5px;

	//IE Only styles
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		margin-left: -95px;
	}
}

// used for displaying masthead nav submenus - js sets some of this
.b-masthead--responsivenav
	.masthead__nav
	.c-menupopup:hover
	ul.menupopup__menu {
	position: fixed;
	top: 146px;

	@include media('>=960px') {
		top: 70px;
	}
}

.js-masthead-2packed ul.menupopup__menu.u-fixed {
	top: 146px !important;
}

.masthead__actions {
	display: inline-flex;
	align-items: center;
	height: 73px;
}

.masthead__actions > ul > li {
	border-left: 1px solid $grey-kenobi;
}

li.masthead__cta > a {
	background-color: $red;
	color: white;
	display: none;
	display: flex;

	svg {
		fill: white;
	}

	&:after {
		color: white;
		//right: 15px !important;
	}
}

li.masthead__cta--white > a {
	background-color: white;
	color: $black;

	svg {
		fill: black;
	}

	&:after {
		color: $black !important;
	}
}

.masthead__actions ul > li:hover > a,
.masthead__actions > ul li:hover > button {
	color: $black;
	background-color: $grey-kenobi;

	svg {
		fill: $black;
	}

	&:after {
		color: $black;
	}
}

li.masthead__cta.c-menupopup > a {
	padding-right: 25px;

	&:after {
		right: 15px !important;
	}
}
