<div id="id-masthead" class="u-block u-block--full">
	<div class="b-masthead">

		<h1>
			<a href="{{ site.url }}">
				{% include 'icons/mark-cushield.svg' %}Raven Design System</a>
		</a>
	</h1>
	{# component #}
{#	{% include "docs/inc/menus/navmenu--bar" %}#}


	<ul class="masthead__actions nav__menu--vert ">
		<li class="masthead__cta has-submenu c-menupopup c-menupopup--right u-hide-s">

			<button class="u-icon" href="https://github.com/ravendesignsystem" aria-expanded="false" aria-controls="mh-cta">{% include 'icons/mark-github.svg' %}
				GitHub</button>
			<ul class="is-submenu" id="mh-cta" aria-label="menupopup" aria-expanded="false">
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/rds/releases">{% include 'icons/code.svg' %}
						Releases
					</a>
				</li>
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/rds">{% include 'icons/code.svg' %}
						RDS
					</a>
				</li>
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/design">{% include 'icons/eye.svg' %}
						Design
					</a>
				</li>
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/content">{% include 'icons/pencil.svg' %}
						Content
					</a>
				</li>
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/accessibility">{% include 'icons/accessibility.svg' %}
						Accessibility
					</a>
				</li>
			</ul>
		</li>
		<li class="masthead__cta masthead__cta--white u-hide-s">
			<a class="u-icon" href="https://github.com/ravendesignsystem">
				White
			</a>
		</li>
		<li class="masthead__cta u-hide-s">
			<a class="u-icon" href="https://github.com/ravendesignsystem">
				Red
			</a>
		</li>
		<li class="masthead__login u-hide-s">
			<button class="u-icon">
				<svg style="top:0" width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.4 20.8H6.8v-1.6h1.6v1.6zm12.8-9.6v11.2c0 .88-.72 1.6-1.6 1.6h-16c-.88 0-1.6-.72-1.6-1.6V11.2c0-.88.72-1.6 1.6-1.6h1.6V6.4C5.2 2.88 8.08 0 11.6 0 15.12 0 18 2.88 18 6.4v3.2h1.6c.88 0 1.6.72 1.6 1.6zM8.08 9.6h7.056V6.4a3.51 3.51 0 0 0-3.52-3.52 3.51 3.51 0 0 0-3.52 3.52v3.2H8.08zm11.52 1.6H5.2v11.2h14.4V11.2zM8.4 12.8H6.8v1.6h1.6v-1.6zm0 3.2H6.8v1.6h1.6V16z"></path>
				</svg>
				<span class="u-hide-s">Login</span>
			</button>
		</li>
		<li class="masthead__search">
			<button aria-label="Open Search" class="masthead__searchbtn u-icon u-icon--notext-s">
				{% include "icons/search.svg" %}
				<span class="u-hide-s">Search</span>
			</button>
		</li>
		<li class="masthead__close-modals u-visually-hidden">
			<button aria-label="Close Modals" class="masthead__closebtn u-icon u-icon--notext">
				<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M15.396 12L24 20.604 20.604 24 12 15.396 3.396 24 0 20.604 8.604 12 0 3.396 3.396 0 12 8.604 20.604 0 24 3.396z"/></svg>
			</button>
		</li>
		{% if page.subsite %}
			<li name="navicon" class="masthead__navicon u-hide-l">
				<button class="c-navicon" aria-label="Open Menu" title="Open site-wide menu" type="button">
					<span class="c-navicon__box">
						<span class="c-navicon__inner"></span>
					</span>
				</button>
			</li>
		{% endif %}
	</ul>


</div></div>
