<div id="id-masthead" class="u-block u-block--full">
	<div class="b-masthead">

		<h1>
			<a href="{{ site.url }}">
				{% include 'icons/mark-cushield.svg' %}Raven Design System</a>
		</a>
	</h1>
	{# component #}
	{% include "navmenu/navmenu--bar" %}

	{#	{% if page.subsite == 'design' %}class="u-active"{% endif %}#}

	<ul class="masthead__actions nav__menu--vert ">
		<li class="masthead__cta has-submenu c-menupopup c-menupopup--right u-hide-s">

			<button class="u-icon" href="https://github.com/ravendesignsystem" aria-expanded="false" aria-controls="mh-cta">{% include 'icons/mark-github.svg' %}
				Github</button>
			<ul class="is-submenu" id="mh-cta" aria-label="menupopup" aria-expanded="false">
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/rds/releases">{% include 'icons/code.svg' %}
						Releases
					</a>
				</li>
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/rds">{% include 'icons/code.svg' %}
						RDS
					</a>
				</li>
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/design">{% include 'icons/eye.svg' %}
						Design
					</a>
				</li>
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/content">{% include 'icons/pencil.svg' %}
						Content
					</a>
				</li>
				<li>
					<a class="u-icon" href="https://github.com/ravendesignsystem/accessibility">{% include 'icons/accessibility.svg' %}
						Accessibility
					</a>
				</li>
			</ul>
		</li>
		<li class="masthead__cta masthead__cta--white u-hide-s">
			<a class="u-icon" href="https://github.com/ravendesignsystem">
				<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z"/></svg>
				Github
			</a>
		</li>
		<li class="masthead__login u-hide-s">
			<button class="u-icon">
				<svg style="top:0" width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.4 20.8H6.8v-1.6h1.6v1.6zm12.8-9.6v11.2c0 .88-.72 1.6-1.6 1.6h-16c-.88 0-1.6-.72-1.6-1.6V11.2c0-.88.72-1.6 1.6-1.6h1.6V6.4C5.2 2.88 8.08 0 11.6 0 15.12 0 18 2.88 18 6.4v3.2h1.6c.88 0 1.6.72 1.6 1.6zM8.08 9.6h7.056V6.4a3.51 3.51 0 0 0-3.52-3.52 3.51 3.51 0 0 0-3.52 3.52v3.2H8.08zm11.52 1.6H5.2v11.2h14.4V11.2zM8.4 12.8H6.8v1.6h1.6v-1.6zm0 3.2H6.8v1.6h1.6V16z"></path>
				</svg>
				<span class="u-hide-s">Login</span>
			</button>
		</li>
		<li class="masthead__search">
			<button aria-label="Open Search" class="masthead__searchbtn u-icon u-icon--notext-s">
				{% include "icons/search.svg" %}
				<span class="u-hide-s">Search</span>
			</button>
		</li>
		<li class="masthead__close-modals u-visually-hidden">
			<button aria-label="Close Modals" class="masthead__closebtn u-icon u-icon--notext">
				<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M15.396 12L24 20.604 20.604 24 12 15.396 3.396 24 0 20.604 8.604 12 0 3.396 3.396 0 12 8.604 20.604 0 24 3.396z"/></svg>
			</button>
		</li>
		{% if page.subsite %}
			<li name="navicon" class="masthead__navicon u-hide-l">
				<button class="c-navicon" aria-label="Open Menu" title="Open site-wide menu" type="button">
					<span class="c-navicon__box">
						<span class="c-navicon__inner"></span>
					</span>
				</button>
			</li>
		{% endif %}
	</ul>


</div></div>
