// Version 0.0.1
// =======================================

.b-globalnav {
	display: none;
}

@include media(">s") {
	.b-globalnav {
		display: block;
		height: 35px;
		background-color: $black;
	}

	.globalnav__list {
		display: flex; // removes space between inline li's
		margin: 0;
		list-style-type: none;
	}

	.globalnav__item {
		position: relative;
		flex: 0 0 auto;

		// Reveals dropdown is in use
		&:hover {
			.globalnav__item-submenu {
				display: block;
			}

			// Keep parent hover state active when submenu is visible
			& > .globalnav__item-expand {
				background-color: $grey-emperor;

				&:after {
					color: $grey-luke;
				}
			}
		}
	}

	.globalnav__item--divider {
		border-right: 1px solid $grey-emperor;
	}

	.globalnav__item-link, .globalnav__item-expand {
		display: inline-block;
		font-size: 11px;
		padding: 0 18px;
		color: white;
		line-height: 35px;
		cursor: pointer;

		&:hover {
			background-color: $grey-emperor;
		}
	}

	// Makes parent link white, parent items have a sub menu with or without a main link
	.globalnav__item-expand a {
		color: white;
	}

	.globalnav__item-expand {
		position: relative;
		padding-right: 25px;

		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-top: 3px solid;
			border-right: 3px solid transparent;
			border-left: 3px solid transparent;
			top: 45%;
			right: 14px;
			color: white;
		}
	}

	.globalnav__item-submenu {
		display: none;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 35px;
		width: 150px;
		margin: 0;
		background-color: $grey-emperor;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

		li {
			margin: 0;
			list-style-type: none;

			a {
				display: block;
				padding: 15px;
				font-size: 11px;
				color: white;
				line-height: normal;

				&:hover, &:active {
					background-color: $grey-vader;
				}
			}
		}
	}
}
