{# Version 0.0.1
=======================================#}
<div class="u-block u-block--full">
    <div class="b-cms-header-globalnav">
        <ul class="cms-globalnav__list">
            <li class="cms-globalnav__item"><a class="cms-globalnav__item-link" href="https://carleton.ca/">Carleton.ca</a></li>
            <li class="cms-globalnav__item"><a class="cms-globalnav__item-link" href="https://carleton.ca/about/">About</a></li>
            <li class="cms-globalnav__item">
                <span class="cms-globalnav__item-expand"><a href="https://carleton.ca/prospective/">Admissions</a></span>
                <ul class="cms-globalnav__item-submenu">
                    <li><a href="https://admissions.carleton.ca/">Undergraduate</a></li>
                    <li><a href="https://graduate.carleton.ca/">Graduate</a></li>
                </ul>
            </li>
            <li class="cms-globalnav__item"><a class="cms-globalnav__item-link" href="https://carleton.ca/academics/">Academics</a></li>
            <li class="cms-globalnav__item"><a class="cms-globalnav__item-link" href="https://research.carleton.ca/">Research</a></li>
            <li class="cms-globalnav__item cms-globalnav__item--divider"><a class="cms-globalnav__item-link" href="https://carleton.ca/campus/">Campus</a></li>
            <li class="cms-globalnav__item">
                <span class="cms-globalnav__item-expand"><a href="https://carleton.ca/prospective/">Future Students</a></span>
                <ul class="cms-globalnav__item-submenu">
                    <li><a href="https://admissions.carleton.ca/">Undergraduate</a></li>
                    <li><a href="https://graduate.carleton.ca/">Graduate</a></li>
                </ul>
            </li>
            <li class="cms-globalnav__item">
                <span class="cms-globalnav__item-expand"><a href="https://students.carleton.ca/">Current Students</a></span>
                <ul class="cms-globalnav__item-submenu">
                    <li><a href="https://students.carleton.ca/">Undergraduate</a></li>
                    <li><a href="https://gradstudents.carleton.ca/">Graduate</a></li>
                </ul>
            </li>
            <li class="cms-globalnav__item"><a class="cms-globalnav__item-link" href="https://carleton.ca/me/">Faculty/Staff</a></li>
            <li class="cms-globalnav__item"><a class="cms-globalnav__item-link" href="https://alumni.carleton.ca/">Alumni</a></li>
        </ul>
    </div>
</div>
