@include media('>=s') {
	.b-docs-textimg {
		padding: 50px 0 20px;

		& .textimg__heading {
			font-size: $pixel48;
			padding-bottom: 0;
		}

		& .textimg__desc p {
			font-size: $pixel30;
			color: $grey-luke;
			line-height: 1.35;

			& a {
				color: white;

				&:hover {
					color: $red;
				}
			}
		}

		.textimg__img {

			animation-name: u-ani-fadein;
			animation-duration: 1000ms;
			animation-fill-mode: forwards;
			//transition: background-color 10000ms linear;
		}
	}
}
