{% if docs %}
    <div class="u-block u-block--white u-block--s">
        <div class="b-content">
            <h2>Base example</h2>
            <p>The Simple Footer is designed to help visitors by adding expected footer information including contact information, location, hours of operation and social media links. The name simple refers to how easy the block is to implement due to its one column design that presents this information clearly on both large and small screens.
            </p>
        </div>
    </div>
{% endif %}
{% from "footersimple/footersimple.twig" import simple %}
{{ simple (
    {
    },
    {
        address:
        {
            name: "Department Name",
            building: "Dunton Tower",
            number: "123",
            buildingOff: "Chateau Laurier",
            street: "222 Fairway",
            city: "Toronto",
            province: "ON",
            country: "Canada"
        },
        contact:
        {
            email: "web@carleton.ca",
            phone: "613-520-2600",
            fax: "613-520-2600",
            contactPage: "https://carleton.ca/contact/"
        },
        hours:
        {
            dayFrom: "Monday",
            dayUntil: "Friday",
            timeFrom: "8:30 am",
            timeUntil: "4:30 pm"
        },
        social:
        {
            facebook: "https://www.facebook.com/carletonuniversity/",
            instagram: "https://www.instagram.com/carleton_u/",
            linkedin: "https://www.linkedin.com/company/sprott/?originalSubdomain=ca",
            pinterest:"https://www.pinterest.ca/carletonu/",
            twitter: "https://twitter.com/@Carleton_U",
            youtube: "https://www.youtube.com/user/carletonuvideos"
        },
    }
) }}
