{% if docs %}
    <div class="u-block u-block--white u-block--s">
        <div class="b-content">
            <h2>Simple Footer without social media links</h2>
        </div>
    </div>
{% endif %}
{% from "footersimple/footersimple.twig" import footersimple %}
{{ footersimple (
    {
    },
    {
        address:
        {
            name: "Department Name",
            building: "Dunton Tower",
            number: "123",
            buildingOff: "Chateau Laurier",
            street: "222 Fairway",
            city: "Toronto",
            province: "ON",
            country: "Canada"
        }
    }
) }}
