// TODO need relative sizing like https://getbootstrap.com/docs/4.0/components/badge/
.c-badge {
	display: inline-block;
	padding: 4px 6px;
	font-size: $pixel12;
	font-weight: 500;
	color: white;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	margin: 0 0.25em;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50px;
	background-color: $red;

	// Empty badges collapse automatically
	&:empty {
		display: none;
	}
}
