.b-alertheader {
	position: relative;

	svg {
		width: 40px;
		float: left;
		position: absolute;
		top: 0;
		left: 0;

		@include media('>s') {
			width: 55px;
		}
	}

	h2 {
		font-size: $pixel20;
		padding-bottom: 2px;
		margin: 0 0 2px 60px;
		border-bottom: none;

		@include media('>s') {
			margin: 0 0 2px 85px;
		}
	}

	p {
		margin: 0 0 0 60px;
		font-size: $pixel16;

		@include media('>s') {
			margin: 0 0 2px 85px;
		}
	}

	a {
		border-bottom: 1px solid $red;
		color: $red;

		&:hover {
			color: $link;
			border-bottom: 1px solid $link;
		}

		&::after {
			content: '→';
			// &#8594
		}
	}
}

.u-block--alert {
	button {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}
