.b-alertheader {
	svg {
		height: 60px;
		float: left;
		padding-right: 15px;
	}

	p {
		margin-bottom: 0;
	}

	a {
		border-bottom: 1px solid $red;
		color: $red;

		&:hover {
			color: $link;
			border-bottom: 1px solid $link;
		}

		&::after {
			content: '→';
			// &#8594
		}
	}

	button {
		position: absolute;
		top: 20px;
		right: 20px;

		span {
			font-size: $pixel20;
		}
	}
}
