{% macro alertheader(block, data) %}
<div class="u-block u-block--l u-block--alert">
    <div class="b-alertheader">{% include 'icons/alert.svg' %}
        <p>{{ data.message }}{% if data.link.href %} <a href="{{ data.link.href }}">{% if data.link.text %}{{ data.link.text }}{% else %}Learn more{% endif %}</a>{% endif %}</p>
{% if data.dismissible == false %}
        <button class="alertheader__dismiss" aria-label="Close alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
{% endif %}
    </div>
</div>
{% endmacro %}
