{% macro alertheader(data) %}
<div class="u-block u-block--alert">
    <div class="b-alertheader">
        {% include 'icons/alert.svg' %}
        <h2>{{ data.heading }}</h2>
        <p>{{ data.message }}{% if data.url %} <a href="{{ data.link }}">{% if data.linkText %}{{ data.linkText }}{% else %}Learn more{% endif %}</a>{% endif %}</p>
    </div>
{% if data.dismissible != false %}
    <button class="alertheader__dismiss" aria-label="Close alert" type="button" data-close>
        <span class="u-icon" aria-hidden="true">
            <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="title" lang="en">Close alert panel</title><path d="M15.396 12L24 20.604 20.604 24 12 15.396 3.396 24 0 20.604 8.604 12 0 3.396 3.396 0 12 8.604 20.604 0 24 3.396z"/></svg>
        </span>
    </button>
{% endif %}
</div>
{% endmacro %}
