<section class="u-block u-block--l u-block--white u-padding-top-s u-margin-bottom-s">
    <h2 class="u-link">Instagram: <span class="imggrid__links"><a href="https://www.instagram.com/carleton_u/">@carleton_u</a> | <a href="https://www.instagram.com/carleton_future/">@carleton_future</a></span></h2>
    <div class="b-imggrid">
        <div class="b-imggrid__row">
            <figure>
                <a href="https://www.instagram.com/p/BwC2L5tnogS/" aria-label="Instagram photo">
                    <picture>
                        <source type="image/webp" srcset="https://cu-rds.s3.amazonaws.com/hp/assets/img/insta1.webp">
                        <img src="https://cu-rds.s3.amazonaws.com/hp/assets/img/insta1.jpg" loading="lazy" alt="">
                    </picture>
                </a>
            </figure>
            <figure>
                <a href="https://www.instagram.com/p/Bwr6NQylOv2/" aria-label="Instagram photo">
                    <picture>
                        <source type="image/webp" srcset="https://cu-rds.s3.amazonaws.com/hp/assets/img/insta2.webp">
                        <img src="https://cu-rds.s3.amazonaws.com/hp/assets/img/insta2.jpg" loading="lazy" alt="">
                    </picture>
                </a>
            </figure>
        </div>
        <div class="b-imggrid__row b-imggrid__row--reverse">
            <figure>
                <a href="https://www.instagram.com/p/Bw4_wBkHzxh/" aria-label="Instagram photo">
                    <picture>
                        <source type="image/webp" srcset="https://cu-rds.s3.amazonaws.com/hp/assets/img/insta3.webp">
                        <img src="https://cu-rds.s3.amazonaws.com/hp/assets/img/insta3.jpg" loading="lazy" alt="">
                    </picture>
                </a>
            </figure>
            <figure>
                <a href="https://www.instagram.com/p/BtUh0WCFaSw/" aria-label="Instagram photo">
                    <picture>
                        <source type="image/webp" srcset="https://cu-rds.s3.amazonaws.com/hp/assets/img/insta4.webp">
                        <img src="https://cu-rds.s3.amazonaws.com/hp/assets/img/insta4.jpg" loading="lazy" alt="">
                    </picture>
                </a>
            </figure>
        </div>
    </div>
</section>
