{% macro alert(data) %}
<div class="c-alert {% if data.type == "error" %}c-alert--error{% elseif data.type == "warning" %} c-alert--warning{% elseif data.type == "success" %} c-alert--success{% else %}c-alert--info{% endif %}" role="alert">
{% if data.type == "error" %}
    {% include 'icons/alert.svg' %}
{% elseif data.type == "success" %}
    {% include 'icons/verified.svg' %}
{% elseif data.type == "warning" %}
    {% include 'icons/warning.svg' %}
{% else %}
    {% include 'icons/info.svg' %}
{% endif %}
{% if data.heading %}
    <h2>{{ data.heading }}</h2>
{% endif %}
    <p>{{ data.message|raw }}</p>
{% if data.dismissible != false %}
    <button aria-label="Close alert" type="button" data-close>
    <span class="u-icon" aria-hidden="true">
        <svg aria-hidden="true" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15.396 12L24 20.604 20.604 24 12 15.396 3.396 24 0 20.604 8.604 12 0 3.396 3.396 0 12 8.604 20.604 0 24 3.396z"/></svg>
    </span>
    </button>
{% endif %}
</div>
{% endmacro %}

