<div class="c-alert c-alert--info">
    <p>To show full width elements on this page, we removed the <- left-side secondary navigation. To help you get around, we have added the mobile/hamburger menu in the masthead above ^. </p>
</div>
