<section class="u-block u-block--m u-block--grey">
    <h2>Events</h2>
    <div class="u-grid u-grid--2 u-grid--gap-l u-grid--s1">
        <div class="b-listing">
            <ul class="listing__list listing__list--events" itemscope="" itemtype="http://schema.org/Event">
                <li itemprop="item">
                    <a href="https://carleton.ca/fpa/cu-events/2019-kgl-deborah-mcgregor/" itemprop="url">
                        <time class="listing__event-date" itemprop="startDate" datetime="2017-04-24T08:00:00" content="2017-04-24T08:00:00">
                            jun<br>
                            <span class="listing__event-day">10</span>
                        </time>
                        {#                                        <div class="listing__event-time">#}
                        {#                                            <h3 class="listing__title">05:30 pm</h3>#}
                        {#                                            <p class="listing__excerpt">07:00 pm</p>#}
                        {#                                        </div>#}
                        <div class="listing__body">
                            <h3 class="listing__title" itemprop="name">Katherine Graham Lecture</h3>
                            <p class="listing__excerpt" itemprop="description">Richcraft Hall</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://events.carleton.ca/climate-conversations-with-an-african-focus-2/" itemprop="url">
                        <time class="listing__event-date" itemprop="startDate" datetime="2017-04-24T08:00:00" content="2017-04-24T08:00:00">
                            Jun<br>
                            <span class="listing__event-day">12</span>
                        </time>
                        {#                                        <div class="listing__event-time">#}
                        {#                                            <h3 class="listing__title">08:00 am</h3>#}
                        {#                                            <p class="listing__excerpt">09:00 pm</p>#}
                        {#                                        </div>#}
                        <div class="listing__body">
                            <h3 class="listing__title" itemprop="name">Teaching with Your Mouth Shut: Incorporating Activities into (Smaller) Lecture Classes</h3>
                            <p class="listing__excerpt" itemprop="description">Ottawa Public Library </p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://events.carleton.ca/carbon-613-evening-of-recognition/" itemprop="url">
                        <time class="listing__event-date" itemprop="startDate" datetime="2017-04-24T08:00:00" content="2017-04-24T08:00:00">
                            Jun<br>
                            <span class="listing__event-day">12</span>
                        </time>
                        {#                                        <div class="listing__event-time">#}
                        {#                                            <h3 class="listing__title">09:00 am</h3>#}
                        {#                                            <p class="listing__excerpt"></p>#}
                        {#                                        </div>#}
                        <div class="listing__body">
                            <h3 class="listing__title" itemprop="name">Carbon 613 – Evening of Recognition</h3>
                            <p class="listing__excerpt" itemprop="description">Richcraft Hall</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://newsroom.carleton.ca/story/new-home-page-details/" itemprop="url">
                        <time class="listing__event-date" itemprop="startDate" datetime="2017-04-24T08:00:00" content="2017-04-24T08:00:00">
                            Jun<br>
                            <span class="listing__event-day">17</span>
                        </time>
                        {#                                        <div class="listing__event-time">#}
                        {#                                            <h3 class="listing__title">09:00 am</h3>#}
                        {#                                            <p class="listing__excerpt"></p>#}
                        {#                                        </div>#}
                        <div class="listing__body">
                            <h3 class="listing__title" itemprop="name">New home page launch</h3>
                            <p class="listing__excerpt" itemprop="description">Carleton.ca</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://shesflyaerospace.ca" itemprop="url">
                        <time class="listing__event-date" itemprop="startDate" datetime="2017-04-24T08:00:00" content="2017-04-24T08:00:00">
                            Jul<br>
                            <span class="listing__event-day">2</span>
                        </time>
                        {#                                        <div class="listing__event-time">#}
                        {#                                            <h3 class="listing__title">Starting</h3>#}
                        {#                                            <p class="listing__excerpt">July 2</p>#}
                        {#                                        </div>#}
                        <div class="listing__body">
                            <h3 class="listing__title" itemprop="name">She's Fly - Aerospace camps for girls </h3>
                            <p class="listing__excerpt" itemprop="description">Mackenzie Engineering</p>
                        </div>
                    </a>
                </li>
            </ul>
            <p style="margin-top: 16px;"><a class="u-link" href="https://events.carleton.ca">Events Calendar &rarr;</a></p>
        </div>
        <article class="c-card" itemscope="" itemtype="http://schema.org/Article">
            <a href="https://carleton.ca/convocation/" itemprop="url">
                <figure class="card__figure" itemscope="" itemtype="http://schema.org/ImageObject">
                    <picture>
                        <source type="image/webp" srcset="https://cu-rds.s3.amazonaws.com/hp/assets/img/convocation.webp">
                        <img src="https://cu-rds.s3.amazonaws.com/hp/assets/img/convocation.jpg" alt="Student at Convocation">
                    </picture>
                </figure>
                <div class="card__body">
                    <time class="card__date" datetime="2018-03-11" itemprop="datePublished" content="2018-03-11">June 10-14, 2019</time>
                    <h3 class="card__title" itemprop="name">Join us for Convocation, June 10-14, as we confer degrees on students, recognize honorary degree recipients and award medals and prizes.</h3>
                </div>
            </a>
        </article>
    </div>
</section>
