{% if docs %}
    <div class="u-block u-block--white u-block--s">
        <div class="b-content">
            <h2 id="img-dark">Img Banner with All Props</h2>
        </div>
    </div>
{% endif %}
{% from "banner/banner.twig" import banner %}
{{ banner (
    {
    },
    {
        breadcrumbs: {
        grandparent: "Blocks",
        parent: "Banners"
        },
        img: "https://cu-raven.s3.amazonaws.com/assets/img/photos/nevermore.jpg",
        imgOpacity: "dark",
        imgPosition: "bottom",
        title: "Img Banner with All Props"
    }
) }}
