.c-buttonsocial {
	display: flex;
	font-size: 2.5em;

	&::before {
		width: 1em;
		height: 1em;
		content: '';
	}

	&:hover::before {
		background-color: $red;
	}

	&:hover svg path {
		fill: white;
	}
}

.c-buttonsocial--s {
	font-size: 2em;
}

.c-buttonsocial--l {
	font-size: 3.5em;
}

.c-buttonsocial--facebook:hover::before {
	background-color: #3b5998;
}

.c-buttonsocial--instagram:hover::before {
	// background: #d6249f; // TODO: test that this is not needed for browser support
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
}

.c-buttonsocial--twitter:hover::before {
	background-color: #1da1f2;
}

.c-buttonsocial--youtube:hover {
	&::before {
		background-color: #ff0000;
	}

	& svg path:last-child {
		fill: #ff0000;
	}
}

.c-buttonsocial--pinterest:hover::before {
	background-color: #bd081c;
}

.c-buttonsocial--linkedin:hover::before {
	background-color: #007bb5;
}

.c-buttonsocialgroup {
	list-style: none;
	margin-left: 0;

	li {
		display: inline-block;
	}
}
