<div class="u-block u-block--s u-block--grey">
    <div class="b-search">
        <script>
            (function() {
                var cx = '000425654443457873923:u1z9vad_fsq';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>

        <p class="u-link"><a href="https://carleton.ca/directories/">A-Z</a> | <a href="https://carleton.ca/phonebook/">Phonebook</a>  | <a href="https://carleton.ca/campus/map/">Campus Map</a>   | <a href="https://carleton.ca/parking/wp-content/uploads/parking-map-2015.pdf">Parking Map</a> </p>
    </div>
</div>

