// fw heading component
// --------------------

.c-fw-headings-heading {
	text-align: center;
	max-width: 700px;
	margin-bottom: 40px;

	&:after {
		content: '';
		border-bottom: 1px solid $red;
		width: 60px;
		display: block;
		margin: 30px auto 0 auto;
	}
}

.fw-heading__title {
	border-bottom: none;
	margin-bottom: 8px;

	@include media('>=s') {
		font-size: $pixel36;
	}
}

@include media('>=s') {
	.fw-heading__subtitle {
		color: $grey-emperor;
		font-size: $pixel20;
	}
}
