.b-content {
	a {
		color: $link;

		&:hover:not(.u-icon) {
			border-bottom: 1px solid $red;
			color: $red;
		}
	}

	a:not(ul a):not(.u-icon):not(.c-buttoncta--ghost) {
		border-bottom: 1px solid #c8dae3;
	}

	h1,
	h2 {
		border-bottom: 1px solid $grey;
	}

	> h1:not(:first-of-type),
	> h2:not(:first-of-type) {
		margin-top: 40px;
	}

	h3:not(.c-card h3),
	h4,
	h5,
	h6 {
		margin-top: 25px;
	}

	img {
		margin-bottom: 20px;
	}

	p:empty {
		display: none;
	}
}
