.b-content {
	a:not(.c-buttoncta) {
		color: $link;
		background-color: #fbfdfd;
		word-wrap: break-word;

		&:hover:not(.u-icon):not(.c-buttoncta) {
			border-bottom: 1px solid $red;
			color: $red;
			background-color: #fefbfb;
		}
	}

	a:not(ul a):not(.u-icon):not(.c-buttoncta) {
		border-bottom: 1px solid #c8dae3;
	}

	h1,
	h2 {
		border-bottom: 1px solid $grey;
	}

	> h1:not(:first-of-type),
	> h2:not(:first-of-type) {
		margin-top: 40px;
	}

	h3:not(.c-card h3),
	h4,
	h5,
	h6 {
		margin-top: 25px;
	}

	img {
		margin-bottom: 20px;
	}

	p:empty {
		display: none;
	}

	blockquote {
		font-weight: 300;
		// font-style: italic;
		border-left: 0.3em solid $red;
		margin: 0 0 25px 0;
		padding: 15px 25px;

		p {
			margin-bottom: 0;
		}

		cite {
			display: block;
			margin-top: 15px;
		}
	}
}

// Component overides

.b-content .c-card h3 {
	font-size: $pixel18;
	margin: 0 0 5px !important;
	line-height: 1.25;
	border-bottom: 0;
}

// Card description
.b-content .c-card p {
	font-size: $pixel16;
	line-height: 1.6;
	font-weight: 400;
}

.b-content .c-card + .c-card {
	margin-top: $margin-bottom * 2;
}

