.gridadm_cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 300px;
}

.c-card--iconlink {
	display: flex;
	flex: 0 0 25%;
	min-height: 100px;
	border: 1px solid $grey-yoda;
	overflow-x: hidden;
	margin-bottom: 25px;

	&:last-child {
		margin-bottom: 0;
	}

	> a {
		flex: 0 0 90%;
		display: flex;
		align-items: center;
		overflow-x: hidden;

		@include media(">=860px") {
			flex: 0 0 83%;
		}

		> div {
			margin: 4px 0 0 4px;
		}

		> span {
			left: -14px;
			font-size: 65px;

			&::before {
				background-color: $student-turquoise;
			}

			svg {
				fill: white;
				padding: 17px;
			}
		}
	}



	h2 {
		margin: 0;
		font-size: 16px;
		padding-right: 5px;
		line-height: 1.2;

		@include media(">=s") {
			font-size: 18px;
		}
	}

	p {
		margin: 0;
		font-size: 14px;
		color: $grey-vader;
		line-height: 1.2;
	}

	button {
		width: 100%;
		height: 100%;
		border-left: 1px solid $grey-yoda;
	}

	button.c-menupopup:after {
		right: 45% !important;
	}

	.c-menupopup--right + .menupopup__menu {
		top: 55%;
		right: 17px;
	}

	&:nth-child(2) > a span::before {
		background-color: $student-coral;
	}

	&:nth-child(3) > a span::before {
		background-color: $grey-anakin;
	}
}

.c-card--iconlink:after {
	background: none;
}
