<section class="u-block u-block--l u-block--white">
    <h2>Attend Carleton University</h2>
    <div class="b-gridadm u-grid u-grid--2 u-grid--gap-l u-grid--s1 u-grid--reverse">
        {{ card.card(cardVideoSettings, cardVideo) }}
        <div class="gridadm_cards">
            <div class="c-card c-card--iconlink">
                <a href="https://admissions.carleton.ca">
{#                    <span class="u-icon u-icon--circle">{% include 'icons/blackboard.svg' %}</span>#}

                    <div>
                        <h2>Undergraduate Admissions</h2>
                        <p>Explore our 200+ academic programs.</p>
                    </div>

                </a>
                <a href="https://admissions.carleton.ca" class="gridadm_cards__arrow" aria-hidden="true"><span class="u-visually-hidden">Undergraduate Admission</span></a>
                <button class="c-menupopup c-menupopup--right u-hide-s" aria-label="Open Menu">
                    <span class="u-visually-hidden">Undergraduate Admission quick links</span>
                </button>
                <ul class="menupopup__menu" aria-label="menupopup">
                    <li class="menupopup__sep"><a href="https://admissions.carleton.ca">Undergraduate Admissions</a></li>
                    <li><a href="https://admissions.carleton.ca/programs/">Programs</a></li>
                    <li><a href="https://admissions.carleton.ca/apply/">How to Apply</a></li>
                    <li><a href="https://admissions.carleton.ca/events/">Tours and Events</a></li>
                </ul>
            </div>
            <div class="c-card c-card--iconlink">
                <a href="https://graduate.carleton.ca">
{#                    <span class="u-icon u-icon--circle">{% include 'icons/grad.svg' %}</span>#}

                    <div>
                        <h2>Graduate Admissions</h2>
                        <p>Apply now for a grad program online.</p>
                    </div>

                </a>
                <a href="https://graduate.carleton.ca" class="gridadm_cards__arrow" aria-hidden="true"><span class="u-visually-hidden">Graduate Admission</span></a>
                <button class="c-menupopup c-menupopup--right u-hide-s" aria-label="Open Menu">
                    <span class="u-visually-hidden">Graduate Admission quick links</span>
                </button>
                <ul class="menupopup__menu" aria-label="menupopup">
                    <li class="menupopup__sep"><a href="https://graduate.carleton.ca">Graduate Admissions</a></li>
                    <li><a href="https://graduate.carleton.ca/programs/">Graduate Programs</a></li>
                    <li><a href="https://graduate.carleton.ca/apply-online/">Apply Online</a></li>
                    <li><a href="https://graduate.carleton.ca/international/">International</a></li>
                </ul>
            </div>
            <div class="c-card c-card--iconlink">
                <a href="https://carleton.ca/continuing-professional/">
{#                    <span class="u-icon u-icon--circle">{% include 'icons/cert.svg' %}</span>#}

                    <div>
                        <h2>Continuing Studies and Professional Development</h2>
                    </div>

                </a>
                <a href="https://carleton.ca/continuing-professional/" class="gridadm_cards__arrow" aria-hidden="true"><span class="u-visually-hidden">Continuing Studies and Professional Development</span></a>
                <button class="c-menupopup c-menupopup--right u-hide-s" aria-label="Open Menu">
                    <span class="u-visually-hidden">Continuing Studies and Professional Development quick links</span>
                </button>
                <ul class="menupopup__menu" aria-label="menupopup">
                    <li><a href="https://carleton.ca/continuing-professional/certificates/">Certificates</a></li>
                    <li><a href="https://carleton.ca/continuing-professional/graduate-diplomas/">Graduate Diplomas</a></li>
                    <li><a href="https://carleton.ca/continuing-professional/cu-programs/online-learning/">Online Learning</a></li>
                    <li><a href="https://carleton.ca/continuing-professional/professional-development/">Professional Development</a></li>
                    <li><a href="https://carleton.ca/continuing-professional/cu-programs/learning-in-retirement/">Learning in Retirement</a>
                </ul>
            </div>
        </div>
    </div>
</section>
