{% if docs %}
<div class="u-block u-block--s u-block--white">
    <div class="b-content">
        <h2>Base card exampled</h2>
        <p>RDS cards group related pieces of information together. Cards serve as a linked entry point to more detailed information, while providing a quick preview of the content they link to.</p>
    </div>
</div>
<div class="u-block u-block--s u-block--grey">
    <div class="b-main-grid u-grid u-grid--3">
{% endif %}
{% from "components/cards/card/card-macro.twig" import card %}
{{ card (
    {
    },
    {
        img: "http://cu-raven.s3.amazonaws.com/assets/img/raven/img-1.jpg",
        title: "White-necked Raven",
        url: "https://en.wikipedia.org/wiki/White-necked_raven"
    }
) }}
{% if docs %}
    </div>
</div>
{% endif %}
