{% if docs %}
    <div class="u-block u-block--s u-block--white">
        <div class="b-content">
            <h2>Max-width card variant</h2>
            <p>Usually, cards are listed in 3 and 4 column grid blocks. Max-width cards can be used outside of a grid in a sing column. Note: for max-width cards, the image dimensions need to be 768x300px.</p>
{% endif %}
{% from "components/cards/card/card-macro.twig" import card %}
{{ card (
    {
    },
    {
        date: "2018-03-11",
        img: "https://dummyimage.com/768x300/eee/222.gif",
        text: "Usually, cards are used in 3 and 4 column grid blocks to control their size. You can use them outside a grid, but the image dimensions need to be 768x300px.",
        title: "Max-width card",
        url: "https://news.nationalgeographic.com/2017/07/ravens-problem-solving-smart-birds/"
    }
) }}
{% if docs %}
    </div>
</div>
{% endif %}


