<div class="u-block u-block--s u-block--grey">
    <div class="b-banner">
        <div class="banner__container">
            <h1 class="banner__title">{{ page.title }}</h1>
        </div>
    </div>
</div>
