{#<div class="u-block u-block--full">#}
{#    <div class="b-menu">#}
{#        <h2>Site Navigation</h2>#}
{#        <ul>#}
{#            <li>#}
{#                <input id="menu--1" type="checkbox" hidden="">#}
{#                <label for="menu--1">#}
{#                    <a class="menu__link" href="page-a/">Sample Page A</a>#}
{#                </label>#}
{#            </li>#}
{#            <li>#}
{#                <input id="menu--2" type="checkbox" hidden="">#}
{#                <label for="menu--2">#}
{#                    <a class="menu__link" href="page-b/">Sample Page B</a>#}
{#                </label>#}
{#            </li>#}
{#            <li>#}
{#                <input id="menu--3" type="checkbox" hidden="">#}
{#                <label for="menu--3">#}
{#                    <a class="menu__link" href="page-c/">Sample Page C</a>#}
{#                </label>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
