<div class="u-block u-block--full">
	<div class="b-imagetile">

		<article class="imagetile__item imagetile__item--large">
			<div class="imagetile__container">
				<a href="https://hubforgood2.carleton.ca/story/making-music-accessible-to-everyone/">
					<figure class="imagetile__image">
						<img src="https://hubforgood2.carleton.ca/wp-content/uploads/Carleton-campus-music-dominion-chalmers.png" alt="">
					</figure>
					<div class="imagetile__content">
						<h3>Making Music Accessible to Everyone</h3>
						<p>WAAM delivers community music opportunities to under-served populations</p>
					</div>
				</a>
				<div class="imagetile__tools">
					<a href="#">Share</a>
					<a href="#">Save</a>
				</div>
			</div>
		</article>

		<article class="imagetile__item">
			<div class="imagetile__container">
				<a href="#">
					<figure class="imagetile__image">
						<img src="https://hubforgood2.carleton.ca/wp-content/uploads/Carleton-University-HubforGood-Science-is-for-everyone2.jpg" alt="">
					</figure>
					<div class="imagetile__content">
						<h3>Science is for Everyone</h3>
						<p>Faculty of Science brings community together one Café at a time</p>
					</div>
				</a>
				<div class="imagetile__tools">
					<a href="#">Share</a>
					<a href="#">Save</a>
				</div>
			</div>
		</article>

		<article class="imagetile__item">
			<div class="imagetile__container">
				<a href="#">
					<figure class="imagetile__image">
						<img src="https://hubforgood2.carleton.ca/wp-content/uploads/Carleton-University-HubforGood-ButterflyShow-Biology.jpg" alt="">
					</figure>
					<div class="imagetile__content">
						<h3>Butterfly Show</h3>
						<p>More than 10,000 people each year experience and learn about butterflies and their ecosystems</p>
					</div>
				</a>
				<div class="imagetile__tools">
					<a href="#">Share</a>
					<a href="#">Save</a>
				</div>
			</div>
		</article>

		<article class="imagetile__item">
			<div class="imagetile__container">
				<a href="#">
					<figure class="imagetile__image">
						<img src="https://hubforgood2.carleton.ca/wp-content/uploads/Carleton-University-HubforGood-Interndisciplinary2.jpg" alt="">
					</figure>
					<div class="imagetile__content">
						<h3>International, Interdisciplinary Health Intervention</h3>
						<p>Carleton researcher leverages diverse perspectives to improve mother-infant outcomes</p>
					</div>
				</a>
				<div class="imagetile__tools">
					<a href="#">Share</a>
					<a href="#">Save</a>
				</div>
			</div>
		</article>

		<article class="imagetile__item">
			<div class="imagetile__container">
				<a href="#">
					<figure class="imagetile__image">
						<img src="https://hubforgood2.carleton.ca/wp-content/uploads/Carleton-University-HubforGood-Ravens-Football.jpg" alt="">
					</figure>
					<div class="imagetile__content">
						<h3>Ravens for Life</h3>
						<p>Carleton football team makes an impact on and off the field</p>
					</div>
				</a>
				<div class="imagetile__tools">
					<a href="#">Share</a>
					<a href="#">Save</a>
				</div>
			</div>
		</article>

	</div>
</div>
