<div class="u-block u-block--full">
	<div class="b-imagetile">

		<div class="imagetile__container">
			<a class="imagetile__item">
				<img src="image.jpg" alt="">
				<div class="imagetile__content">
					<h3>Small Title Area</h3>
					<p>This is the excerpt area. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</a>
		</div>

		<div class="imagetile__container">
			<a class="imagetile__item">
				<img src="image.jpg" alt="">
				<div class="imagetile__content">
					<h3>Small Title Area</h3>
					<p>This is the excerpt area. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</a>

			<a class="imagetile__item">
				<img src="image.jpg" alt="">
				<div class="imagetile__content">
					<h3>Small Title Area</h3>
					<p>This is the excerpt area. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</a>

			<a class="imagetile__item">
				<img src="image.jpg" alt="">
				<div class="imagetile__content">
					<h3>Small Title Area</h3>
					<p>This is the excerpt area. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</a>

			<a class="imagetile__item">
				<img src="image.jpg" alt="">
				<div class="imagetile__content">
					<h3>Small Title Area</h3>
					<p>This is the excerpt area. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</a>
		</div>

	</div>
</div>
