{% from "alertheader/alertheader.twig" import alertheader %}
{{ alertheader (
    {
        dismissible : true,
        heading: "University closure, January 28",
        message: "Due to inclement weather the university will be closed January 28, 2019. Please see the <a href=\"https://carleton.ca/ses/exam-schedule/\">updated exam schedule</a>."
    }
) }}
