.b-docs-gridhome {
	margin-bottom: 60px;
}

.docs-gridhome__panel {
	overflow: hidden;
	position: relative;
	background-color: $grey-kenobi;
	padding: 15px;
	color: $black;

	&:hover {
		background-color: $grey-luke;
		//border-bottom: 6px solid $red;
	}

	@include media('<=s') {
		min-height: 155px;
	}

	& svg {
		position: absolute;
	}

	& h2 {
		border: none;
	}

	@include media('>=s') {
		padding: 30px;
	}
}

.docs-gridhome__panel--dev {
	display: block;

	& svg {
		bottom: -75px;
		right: -20px;
		width: 165px;
	}

	@include media('>=s') {
		min-height: 420px;
		display: flex;

		svg {
			bottom: 30px;
			left: 90px;
			width: 450px;
		}
	}
}

.docs-gridhome__colright {
	display: block;

	@include media('>=s') {
		display: flex;
		flex-direction: column;
		min-height: 420px;
	}
}

.docs-gridhome__botrow {
	@include media('>=s') {
		flex: 1;
		display: flex;

		a {
			display: flex;
		}
	}
}

.docs-gridhome__panel--content {
	//flex: 1;
	margin-bottom: 30px;
	min-height: 215px;

	svg {
		bottom: -36px;
		right: -30px;
		width: 170px;
	}
	@include media('>=s') {
		svg {
			bottom: -32px;
			right: -30px;
			width: 280px;
		}
	}

	@include media('>=s') {
		h2 {
			max-width: 160px;
		}
	}
}

.docs-gridhome__panel--design {
	flex: 1;
	margin: 0 0 30px 0;

	svg {
		bottom: -5px;
		right: 0;
		width: 101px;
	}

	@include media('>=s') {
		margin: 0 30px 0 0;

		svg {
			bottom: -10px;
			left: 130px;
		}
	}
}

.docs-gridhome__panel--a11y {
	svg {
		bottom: -20px;
		right: 0;
		width: 120px;
		height: 120px;
	}
	@include media('>=s') {
		& svg {
			bottom: -20px;
			left: 140px;
		}
	}
}
