{% if docs %}
<div class="u-block u-block--s u-block--black">
    <div class="b-content">
        <h2>Grey CTA button</h2>
        <p>For dark backgrounds, grey CTA buttons are available.</p>
        {% endif %}
{% from "components/buttons/cta/cta-macro.twig" import cta %}
{{ cta (
    {
        variant: "grey"
    },
    {
        title: "Grey button",
        url: "http://www.nooooooooooooooo.com"
    }
) }}
        {% if docs %}
    </div>
</div>
{% endif %}
