{% if docs %}
<div class="u-block u-block--s u-block--white">
    <div class="b-content">
        <h2>CTA button with icon</h2>
        <p>To make your CTA button easier to scan, consider adding an <a href="#">RDS icon</a>, if appropriate. Icons need to be placed before (left of) the accompanying label.</p>
        {% endif %}
{% from "components/buttons/cta/cta-macro.twig" import cta %}
{{ cta (
    {
    },
    {
        title: "Download our free ebook",
        url: "#",
        icon: 'arrow-down'
    }
) }}
{% if docs %}
    </div>
</div>
{% endif %}
