{% from "alert/alert.twig" import alert %}
{{ alert (
    {
        dismissible: true,
        heading: "Error Alert",
        message: "An error alert is reserved <a href=\"#\">for errors, malfunctions</a>, as well as critical issues campus safety issues.",
        type: "error"
    }
) }}
