.b-footersimple {
	text-align: center;
	color: $grey-luke;

	span {
		line-height: 1.9;
	}

	a, strong {
		color: white;
	}

	a:hover {
		color: $red;
	}

	time {
		display: inline;
	}
} // End b-footersimple

.footersimple__social {
	list-style: none;
	margin-left: 0;

	li {
		display: inline-block;

		.u-icon svg {
			margin-right: 8px;
		}

		&:last-child {
			.u-icon svg {
				margin-right: 0;
			}
		}
	}
}
