{% if docs %}
    <div class="u-block u-block--s u-block--white">
        <div class="b-content">
            <h2>Card with text</h2>
            <p>Provide more information about the linked item by adding text to the card.</p>
        </div>
    </div>
<div class="u-block u-block--s u-block--grey">
    <div class="b-cardgrid u-grid u-grid--3">
{% endif %}
{% from "card/card.twig" import card %}
{{ card (
    {
    },
    {
        img: "http://cu-raven.s3.amazonaws.com/assets/img/raven/img-1.jpg",
        text: "The white-necked raven is smaller than the common raven or indeed its nearest relative, the thick-billed raven.",
        title: "White-necked Raven",
        url: "https://en.wikipedia.org/wiki/White-necked_raven"
    }
) }}
{% if docs %}
    </div>
</div>
{% endif %}
