{% if docs %}
<div class="u-block u-block--white">
    <div class="b-content">
        <h2>Base example</h2>
        <p>Add text</p>
{% endif %}
{% from "buttonsocial/buttonsocial.twig" import buttonsocial %}
{{ buttonsocial (
    {
        network: "twitter",
        url: "https://twitter.com/@Carleton_U"
    }
) }}
{% if docs %}
    </div>
</div>
{% endif %}

