// Version 0.1.2

//  Project wide variables
//  ----------------------
//
//  Table of Contents:
//
//  0. RDS version
//  1. Media query breakpoints
//  2. Grid vars
//  3. Margins/spacing
//  4. Colors
//  5. Fonts
//  6. Type scale
//  7. z-index scale

// 0. RDS version
// --------------
$version: '0.21.1';

// 1. Media query breakpoints
// --------------------------
$breakpoints: (
	s: 760px,
	l: 1024px,
	layout-s: 810px,
	layout-l: 1050px,

);

// 2. Grid vars
// ------------
$grid-gutter: 30px !default;
$layout-gutter: $grid-gutter + 1px; // Used by grid and flex to set gutters with an included 1px for the border

// 2. Margins/spacing
// ------------------
$masthead_height: 72px;

$margin-bottom: 30px !default;

// Block Spacing
$block-margin: 40px !default;
$block-padding-s: 25px !default;
$block-padding-m: 30px !default;

// 4. Colors
// ---------
// Primary palette

// CU digital near black
$black: #222;

// CU digital grey
$grey: #f3f3f3;

// CU digital red
$red: #bf112b;
$light-red: #f9e6e9;

// Main link color
$link: #105f83;

// Other colors
$blue: #91d5ff; // info foreground
$light-blue: #e6f7ff; // info background
$pink: #f9e6e9; // error background
$green: #45bf2e; // success foreground
$light-green: #fafff5; // success background
$yellow: #faab08; // warning foreground
$light-yellow: #fffaf1; // warning background

// 50-44 shades of grey
// mostly for light bgs
$grey-yoda: #eaeaea;
$grey-kenobi: #dfdfdf;
$grey-luke: #b1b1b1;

// for dark bgs or lighter icons
$grey-anakin: #939393;
$grey-vader: #767676;
$grey-emperor: #535353;

// Tertiary brand colours for student and enrolment initiatives
$student-blue-grey: #e1e8f0;
$student-coral: #f86759;
$student-slate-grey: #939393;
$student-turquoise: #6ed3cf;

// 5. Fonts
// -------------

$font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', -apple-system,
	'blinkmacsystemfont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica',
	'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// 6. Type Scale
// -------------
$pixel12: 12px;
$pixel13: 13px;
$pixel14: 14px;
$pixel15: 15px;
$pixel16: 16px;
$pixel18: 18px;
$pixel20: 20px;
$pixel24: 24px;
$pixel28: 28px;
$pixel30: 30px;
$pixel36: 36px;
$pixel48: 48px;
$pixel54: 54px;

// 7. z-index scale
// ----------------

$z-index-10000: 10000;

// 8. Drop shadows
// lighter to darker
// ds = drop shadow
// y = yoda, k = kenobi, l = luke
$ds-y: 0 1px 2px rgba($black, 0.2);
$ds-k: 0 5px 8px 2px rgba($grey-emperor, 0.1);
$ds-l: 0 5px 18px 2px rgba(83, 83, 83, 0.2);
