{% if docs %}
<div class="u-block u-block--white">
    <div class="b-content">
        <h2>CTA ghost button variant</h2>
        <p>For secondary or tertiary CTAs consider using a use ghost button variant.</p>
        {% endif %}
{% from "buttoncta/buttoncta.twig" import cta %}
{{ cta (
    {
        variant: "ghost"
    },
    {
        title: "Ghost button",
        url: "http://www.nooooooooooooooo.com"
    }
) }}
{% if docs %}
    </div>
</div>
{% endif %}
