{% if docs %}
    <div class="u-block u-block--white u-block--s">
        <div class="b-content">
            <h2>Two column example</h2>
            <p>The Listing block is one of the few blocks that can be positioned side-by-side by wrapping two blocks in a single <code>u-block</code> class and a nested <code>u-grid u-grid--2</code> classes. </p>

            <h3>Two column implementation notes</h3>
            <p>Listing blocks should only be used in two columns if:</p>
            <ul>
                <li>The the titles are short and don't wrap.</li>
                <li>There are no more then 12 items total (six a side) for easy scanning and no need for the user to scroll.</li>
            </ul>
        </div>
    </div>
{% endif %}
<div class="u-block u-block--s u-block--white ">
    <div class="u-grid u-grid--2">
        <div class="b-listing">
            <ul class="listing__list" itemscope itemtype="http://schema.org/ItemList">
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">White-necked Raven</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">Common Raven</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">Australian Raven</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">Thick-billed Raven</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">Chihuahuan Raven</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="b-listing">
            <ul class="listing__list" itemscope itemtype="http://schema.org/ItemList">
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">White-necked Raven</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">Common Raven</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">Australian Raven</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">Thick-billed Raven</p>
                        </div>
                    </a>
                </li>
                <li itemprop="item">
                    <a href="https://en.wikipedia.org/wiki/White-necked_raven" itemprop="url">
                        <div class="listing__body" itemprop="name">
                            <p class="listing__title">Chihuahuan Raven</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
