{% if docs %}
    <div class="u-block u-block--white u-block--s">
        <div class="b-content">
            <h2>Listing block - People variant</h2>
            <p>Display a list of people with associated photos.</p>
        </div>
    </div>
{% endif %}
{% from "listing/listing.twig" import listing %}
{{ listing (
    {
        color: "white",
        context: "people",
    },
        [
          {
            title: "Bill Murray",
            subtitle: "Actor/Writer",
            url: "http://www.imdb.com/name/nm0000195/",
            img: "https://cu-raven.s3.amazonaws.com/assets/img/photos/fill-murray.jpg"
          },
         {
            title: "Peter Venkman",
            subtitle: "Ghost buster",
            url: "http://www.imdb.com/name/nm0000195/",
            img: "https://cu-raven.s3.amazonaws.com/assets/img/photos/fill-murray.jpg"
          },
          {
            title: "Carl Spackler",
            subtitle: "Caddy for Shack",
            url: "http://www.imdb.com/name/nm0000195/",
            img: "https://cu-raven.s3.amazonaws.com/assets/img/photos/fill-murray.jpg"
          },
         {
            img: "https://cu-raven.s3.amazonaws.com/assets/img/photos/fill-murray.jpg",
            subtitle: "Groundhog for a Day",
            title: "Phil Connors",
            url: "http://www.imdb.com/name/nm0000195/"
          }
        ]
) }}
