{% if docs %}
	<div class="u-block u-block--white">
		<div class="b-content">
			<h2>Listing block - News variant with image</h2>
			<p>Display a list of articles with publishing date and an associated images.</p>
		</div>
	</div>
{% endif %}
{% from "listing/listing.twig" import listing %}
{{ listing (
    {
        color: "white",
        variant: "news"
    },
    [
        {
            date: "2018-03-14",
            img: "https://goravens.ca/wp-content/uploads/football-helmet.jpg",
            title: "News items that have long titles will be allowed to flow over two lines, and will automatically add an ellipsis beyond that",
            subtitle: "Carleton Ravens football is looking to expand its list of coaches by 1 position.  Having started a program from scratch in 2013, the Ravens have continued to develop and improve over the past four years.",
            url: "https://goo.gl/LnS148"
        },
        {
            date: "2018-03-11",
            img: "https://goravens.ca/wp-content/uploads/ART7946-768x513.jpg",
            title: "Ravens complete Cinderella story to stand alone as U SPORTS champions",
            subtitle: "A storybook season came to a close on Sunday night in front of an energetic crowd, many of whom were Ravens fans who had made the trip from Ottawa to support Carleton.",
            url: "https://goo.gl/Bt7RPY"
        },
        {
            date: "2018-03-14",
            img: "https://goravens.ca/wp-content/uploads/football-helmet.jpg",
            title: "Ravens are crazy smart",
            subtitle: "Common ravens have been observed calling wolves to the site of dead animals. The wolves open the carcass, leaving the scraps more accessible to the birds.",
            url: "https://www.reddit.com/r/todayilearned/comments/d724c7/til_common_ravens_have_been_observed_calling/"
        },
        {
            date: "2018-03-11",
            img: "https://goravens.ca/wp-content/uploads/ART7946-768x513.jpg",
            title: "Ravens complete Cinderella story to stand alone as U SPORTS champions",
            subtitle: "A storybook season came to a close on Sunday night in front of an energetic crowd, many of whom were Ravens fans who had made the trip from Ottawa to support Carleton.",
            url: "https://goo.gl/Bt7RPY"
        }
    ]
) }}
