{% if docs %}
    <div class="u-block u-block--white u-block--s">
        <div class="b-content">
            <h2>Listing block - Video variant</h2>
            <p>List video titles with a thumnail preview.</p>
        </div>
    </div>
{% endif %}
{% from "listing/listing.twig" import listing %}
{{ listing (
    {
        color: "white",
        variant: "video"
    },
    [
        {
            title: "White-necked Raven",
            url: "https://www.youtube.com/watch?v=Nrmj0fIUJAc",
            img: site.images ~ "img-1.jpg"
        },
        {
            title: "Common Raven",
            url: "https://www.youtube.com/watch?v=KpApJr53Sgo",
            img: site.images ~ "img-2.jpg"
        },
        {
            title: "Thick-billed raven",
            url: "https://www.youtube.com/watch?v=uJST7x-s548",
            img: site.images ~ "img-3.jpg"
        },
        {
            title: "Chihuahuan raven",
            url: "https://www.youtube.com/watch?v=AXxVw76hgtk",
            img: site.images ~ "img-4.jpg"
        }
    ]
) }}
