// List Group - Version 1.0.0
//================================

// No padding on right for mobile
@include media('<=s') {
	.b-listing-listgroup {
		padding-right: 0 !important;
	}
}

.listgroup__list {
	list-style: none;
	border-top: 1px solid $grey-yoda;
	border-bottom: 1px solid $grey-yoda;
	margin-left: 0;
}

.u-block--grey .listgroup__list {
	border-top: 1px solid $grey-kenobi;
	border-bottom: 1px solid $grey-kenobi;
}

.listgroup__item {
	position: relative;
	background-size: 12px;
	background-position: right 15px center;
	background-repeat: no-repeat;
	padding-left: 2px;

	//&:after {
	//	content: '';
	//	position: absolute;
	//	bottom: 0;
	//	left: 0;
	//	width: 0%;
	//	border-bottom: 1px solid $red;
	//	transition: 0.4s;
	//}
    //
	//&:hover:after {
	//	width: 100%;
	//}

	&:hover {
		background-color: $grey;

        .listgroup__body {
            color: $red;
        }

        .listgroup__subtitle, .listgroup__excerpt {
            color: $black;
        }
	}

	// Remove border from last items content wrapper
	&:last-child {
		.listgroup__body {
			border: none;
		}
	}

	& .c-badge {
		position: absolute;
		right: 10px;
		top: 40%;
	}
}

//TDT design review does this look good
.u-row .listgroup__item:hover,
.u-block--grey .listgroup__item:hover {
	background-color: white;
}

.listgroup__url {
	display: flex;
	// align-items: center;
	position: relative;
	font-weight: 400;
	color: $black !important;
}

.listgroup__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid $grey-yoda; // This gets removed from last item as nested element of listgroup__item
	padding: 15px 40px 15px 0;
}

.u-block--grey .listgroup__body {
	border-bottom: 1px solid $grey-kenobi;
}

// Content
//================================

.listgroup__title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4em;
	padding-bottom: 3px;

	@include media('>=s') {
		font-size: 17px;
	}
}

// Title turns into a heading when there is a subtitle.
h3.listgroup__title,
h4.listgroup__title {
	font-weight: 500;
}

.listgroup__subtitle {
	margin: 0;
	word-wrap: break-word;
	font-size: 14px;
	font-weight: 300;
	padding: 0;
}

// Images & Icons
//================================
// TODO review note below
// NOTE: first 3 flex properties only apply to video image with overlay and icon,
// should we do a modifier at the group__item level like we do in other areas?
// see news image variants for example of targeting image based on group__item modifier
.listgroup__figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4px 15px 4px 0;
}

.listgroup__img {
	@include media('<=s') {
		max-width: 80px;
	}
	max-height: 70px;
	min-width: 70px;
}

// News Variants
//================================

.listgroup__body--news {
	// padding-top: 20px;
	// padding-bottom: 20px;
	min-height: 160px;
}

.b-listing-listgroup--news .listgroup__figure {
	display: none;

	@include media('>=s') {
		display: flex;
		min-height: 160px;
	}
}

@include media('>=s') {
	.b-listing-listgroup--news .listgroup__img {
		max-height: 180px;
	}
}

.listgroup__date {
	font-size: 13px;
	font-weight: 400;
	color: $grey-luke;
	padding-bottom: 2px;
}

.listgroup__excerpt {
	word-wrap: break-word;
	font-size: 14px;
	font-weight: 300;
}

.b-listing-listgroup--news h3 {
	font-size: 18px;
}

// Event Variants
//================================

// Remove border from body element
.b-listing-listgroup--event .listgroup__body {
	border: none;
}

// Place bottom borner on url element, allowing it to span full width
.b-listing-listgroup--event .listgroup__item:not(:last-child) {
	.listgroup__url {
		border-bottom: 1px solid $grey-yoda;
	}
}

// Added to keep consistent spacing at top and bottom of entire li items, important for when the body element is only 1 line
// To see the impact, comment out and check third li in even variant example
.listgroup__event-date,
.listgroup__time {
	padding: 15px 0;
}

.listgroup__event-date {
	color: $red;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.25;
	width: 60px;
}

.listgroup__event-day {
	color: $black;
	font-size: 24px;
}

.listgroup__time {
	display: none;

	@include media('>=s') {
		display: flex;
		min-width: 100px;
		flex-direction: column;
		justify-content: center;
	}
}

// People Variants
//================================

.listgroup__img--people {
	border-radius: 100%;
	border: 4px solid hsla(0, 0%, 93%, 0.75);
}
