/**
 * Listing Block
 * =============
 */

// Main Selectors
//================================

.b-listing + .c-buttoncta {
	margin-top: $block-margin;
}

.listing__list {
	list-style-type: none;
	margin: 0;
	border-top: 1px solid $grey-yoda;
	border-bottom: 1px solid $grey-yoda;
}

.listing__list li {
	position: relative;

	&:not(:last-child):before {
		content: '';
		position: absolute;
		border-bottom: 1px solid $grey-yoda;
		width: 100%;
		left: 0;
		bottom: 0;
		height: 1px;
	}

	a {
		display: flex;
		align-items: center;
		min-height: 60px;
		padding: 10px 50px 10px 0;

		background-size: 12px;
		background-position: right 15px center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128' height='128'%3E%3Cpath fill='none' stroke='%23535353' stroke-linecap='round' stroke-linejoin='round' stroke-width='18' d='M37 118l54-54-54-54'/%3E%3C/svg%3E");

		&:hover {
			background-color: $grey;
			color: $red;

			.listing__subtitle,
			.listing__excerpt {
				color: initial;
			}
		}
	}
}

// Grey Block Overrides
//================================

// Change border & hover color when grey block is used
.u-block--grey {
	.listing__list {
		border-top: 1px solid $grey-luke;
		border-bottom: 1px solid $grey-luke;
	}

	.listing__list li {
		&:not(:last-child):before {
			border-bottom: 1px solid $grey-luke;
		}

		a:hover {
			background-color: white;
		}
	}
}

// Body Content
//================================

.listing__body {
	flex: 1;
	min-width: 0; // this allows text to be truncated inside a flex item
}

.listing__title {
	font-size: $pixel16;
	line-height: 1.4em;
	margin: 3px 0 2px 0;
}

.listing__excerpt {
	font-size: $pixel14;
	font-weight: 300;
	word-wrap: break-word;
}

// Truncating title and subtitle
.listing__title,
.listing__excerpt {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listing__post-date {
	font-size: $pixel12;
	font-weight: 400;
	color: $grey-vader;
}

// Events, Times & Dates
//================================

.listing__event-date {
	flex: 0 0 60px;
	color: $red;
	text-transform: uppercase;
	font-size: $pixel12;
	line-height: 1.25;
	padding-top: 4px;
}

.listing__event-day {
	color: $black;
	font-size: $pixel24;
}

.listing__event-time {
	display: none;

	@include media('>s') {
		display: flex;
		flex: 0 0 100px;
		flex-direction: column;
		justify-content: center;
	}
}

// Images, Icons & Badges
//================================

.listing__figure {
	margin-right: 15px;

	svg {
		width: 45px;
		height: auto;
	}
}

// Image Small Block Type Modifiers
//================================

// Set individual item underline
.listing__list--img-small li:not(:last-child):before {
	width: calc(100% - 95px);
	left: 95px;
}

// Set the width of the figure element
.listing__list--img-small .listing__figure {
	flex: 0 0 80px;
}

// Image Large Block Type Modifiers
//================================

// Set individual item underline
.listing__list--img-large li:not(:last-child):before {
	width: calc(100% - 155px);
	left: 155px;

	@include media('>s') {
		width: calc(100% - 215px);
		left: 215px;
	}
}

.listing__list--img-large li a {
	align-items: initial;
}

// Set the width of the figure element
.listing__list--img-large .listing__figure {
	flex: 0 0 140px;

	@include media('>s') {
		flex: 0 0 200px;
	}
}

// Image Rounded Block Type Modifiers
//================================

// Set individual item underline
.listing__list--img-people li:not(:last-child):before {
	width: calc(100% - 95px);
	left: 95px;
}

// Set the width of the figure element
.listing__list--img-people .listing__figure {
	flex: 0 0 80px;

	img {
		border: 4px solid hsla(0, 0%, 93%, 0.75);
		border-radius: 50%;
	}
}

// Image Dark Block Type Modifiers
//================================

// Set individual item underline
.listing__list--img-video li:not(:last-child):before {
	width: calc(100% - 95px);
	left: 95px;
}

// Set the width of the figure element
.listing__list--img-video .listing__figure {
	flex: 0 0 80px;
	position: relative;

	&:before {
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(black, 0.4);
	}

	img {
		margin: 0;
	}

	svg {
		position: absolute;
		top: calc(50% - 15px); // calc is used to determine center by subtracting half the height of the icon
		left: calc(50% - 15px); // calc is used to determine center by subtracting half the width of the icon
		width: 30px;
		height: 30px;
		fill: white;
	}
}

// Icon Block Type Modifiers
//================================

// Set individual item underline
.listing__list--icon li:not(:last-child):before {
	width: calc(100% - 60px);
	left: 60px;
}

// Set the width of the figure element
.listing__list--icon .listing__figure {
	flex: 0 0 45px;
	display: flex;
	align-items: center;
}

// Event Block Type Modifiers
//================================

// Set individual item underline
.listing__list--events li:not(:last-child):before {
	width: calc(100% - 60px);
	left: 60px;
}

// News Block Type Modifiers
//================================

.listing__list--news {
	.listing__excerpt {
		display: none;

		@include media('>s') {
			display: block;
		}
	}

	.listing__title,
	.listing__excerpt {
		white-space: initial;
		overflow: initial;
		text-overflow: initial;
	}
}
