<div class="c-content-video" itemscope itemtype="http://schema.org/VideoObject">
	<iframe width="500" height="281" itemprop="contentUrl" src="https://www.youtube.com/embed/ngElkyQ6Rhs?feature=oembed&rel=0&showinfo=0" frameborder="0" allowfullscreen=""></iframe>
	<span itemprop="description"></span><span itemprop="uploadDate"></span>
</div>
