<nav class="c-nav c-nav--menubar" role="presentation" aria-label="Main Navigation">
    <ul class="nav__menu nav__menu--bar">
        <li class="has-submenu c-menupopup">
            <button class="nav--menubar__button" aria-expanded="false" aria-controls="id_programs_menu">
                <span class="u-visually-hidden">Show submenu for </span>Programs
            </button>
            <ul id="id_programs_menu" class="is-submenu">
                <li><a href="/programs/" aria-haspopup="true" aria-expanded="false">All Programs</a>
                    <ul>
                        <li class="popup__sep"><a href="/programs/masters-programs/">Masters Programs</a></li>
                        <li><a href="/programs/doctoral-programs/">Doctoral Programs</a></li>
                        <li><a href="/programs/graduate-programs/">Graduate Diplomas</a></li>
                        <li><a href="/programs/collaborative-specializations/">Collaborative Specializations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="has-submenu c-menupopup">
            <button class="nav--menubar__button" aria-controls="id_international_menu" aria-expanded="false">
                <span class="u-visually-hidden">Show submenu for </span>International
            </button>
            <ul id="id_international_menu" class="is-submenu">
                <li><a href="/international/">International Students</a>
                    <ul>
                        <li><a href="/international/admission-requirements/">Admission Requirements</a></li>
                        <li><a href="/international/cost-and-fees/">Cost and Fees</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</nav>
{#    Do we need: aria-haspopup="true" aria-expanded="false"#}
