<nav class="c-nav" role="presentation" aria-label="Main Navigation">
    <h2>Nav Title</h2>

    <ul class="nav__menu">
        <li>
            <a href="/programs/">A - Level 1</a>
        </li>

        <li class="has-submenu">
            <a href="/programs/">B - Level 1</a>
            <button aria-expanded="false" aria-controls="submenu_level_b1">+</button>
            <ul id="submenu_level_b1" class="is-submenu">
                <li>
                    <a href="/programs/">B - Level 2A</a>
                </li>
                <li class="has-submenu">
                    <a href="/programs/">B - Level 2B</a>
                    <button aria-expanded="false" aria-controls="submenu_level_b2">+</button>
                    <ul id="submenu_level_b2" class="is-submenu">
                        <li>
                            <a href="/programs/doctoral-programs/">B - Level 3A</a>
                        </li>
                        <li>
                            <a href="/programs/doctoral-programs/">B - Level 3B</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/programs/">B - Level 2C</a>
                </li>
                <li>
                    <a href="/programs/">B - Level 2D</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/contact/">C - Level 1</a>
        </li>

        <li class="has-submenu">
            <a href="/programs/">D - Level 1</a>
            <button aria-expanded="false" aria-controls="submenu_level_d1">+</button>
            <ul id="submenu_level_d1" class="is-submenu">
                <li>
                    <a href="/programs/">D - Level 2A</a>
                </li>
                <li class="has-submenu">
                    <a href="/programs/">D - Level 2B</a>
                    <button aria-expanded="false" aria-controls="submenu_level_d2">+</button>
                    <ul id="submenu_level_d2" class="is-submenu">
                        <li>
                            <a href="/programs/doctoral-programs/">D - Level 3A</a>
                        </li>
                        <li>
                            <a href="/programs/doctoral-programs/">D - Level 3B</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="/contact/">E - Level 1</a>
        </li>
    </ul>
</nav>
